= form_tag [:admin, :makers_models], method: :get, class: 'filter_form' do
  .filter_form_field.filter_select
    = label_tag 'broker_id', 'Broker'
    = select_tag 'broker_id', options_for_select(@brokers_select_options, params[:broker_id]), include_blank: 'Any'
  .filter_form_field.filter_string
    = label_tag 'q_name', 'Manufacturer Name Contains'
    = text_field_tag 'q[name_contains]', params.dig(:q, :name_contains), id: 'q_name'
  .buttons
    = submit_tag 'Filter'
    = link_to 'Clear Filters', [:admin, :makers_models], class: 'clear_filters_btn'