%table.index_table.misspell-fixable-area
  %tr
    %th Manufacturer
    %th Models
  - @maker_infos.each do |maker_id, maker_name, boats_count|
    %tr(class="#{cycle 'odd', 'even'}")
      %td
        %span.misspell-fixable(data-type="Manufacturer" data-id="#{maker_id}")
          <ins>#{maker_name}</ins><br><small>(#{boats_count}&nbsp;active&nbsp;boats)</small>
      %td
        %ul.pipe-list
          - @model_infos_by_maker[maker_id].each do |model_id, model_name, _maker_id, boats_cnt|
            %li.misspell-fixable(data-type="Model" data-id="#{model_id}")
              %ins #{model_name}
              %sup #{boats_cnt}

.panel.misspell-fixable-popup(style="display:none")
  %h3 Fix name
  .esc ×
  .panel_content
    %input.value-input(type="text")
    .buttons
      %button.save-btn Save
      .titleize-btn Titleize
      %a.view-boats-btn(href="#" target="_blank") Boats
#misspell_fixable_result(style="display:none")

= prev_next_links(@maker_infos.size == 30)