%table.index_table.misspell-fixable-area
  %tr
    %th Manufacturer
    %th Models
  - @maker_infos.each do |maker_id, maker_name, boats_count|
    %tr(class="#{cycle 'odd', 'even'}")
      %td
        %span.misspell-fixable(data-url="/admin/makers_models/fix_name?class=Manufacturer&id=#{maker_id}")
          <ins>#{maker_name}</ins><br><small>(#{boats_count}&nbsp;active&nbsp;boats)</small>
      %td
        %ul.pipe-list
          - @model_infos_by_maker[maker_id].each do |model_id, model_name, _maker_id, boats_cnt|
            %li.misspell-fixable(data-url="/admin/makers_models/fix_name?class=Model&id=#{model_id}")
              %ins #{model_name}
              %sup #{boats_cnt}

.misspell-fixable-popup(style="display:none")
  %input.value-input(type="text")
  .buttons
    %button.save-btn Save
    .titleize-btn Titleize
  .esc
#misspell_fixable_result(style="display:none")

= prev_next_links(@maker_infos.size == 30)