%table.index_table.misspell-fixable-area
  %tr
    %th Manufacturer
    %th Models
  - @makers_counts.each do |maker, models_count|
    %tr(class="#{cycle 'odd', 'even'}")
      %td
        %span.misspell-fixable(data-url="/admin/makers_models/fix_name?class=Manufacturer&id=#{maker.id}")
          <ins>#{maker.name}</ins><br><small>(#{models_count}&nbsp;models)</small>
      %td
        %ul.pipe-list
          - maker.models.each do |model|
            %li.misspell-fixable(data-url="/admin/makers_models/fix_name?class=Model&id=#{model.id}")
              %ins #{model.name}

.misspell-fixable-popup(style="display:none")
  %input.value-input(type="text")
  .buttons
    %button.save-btn Save
    .titleize-btn Titleize
  .esc
#misspell_fixable_result(style="display:none")

= paginate @paginator_array