- current_year = Date.today.year

#finance-popup.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        .h My Right Finance
      .modal-body
        %p By filling in a few simple details, we will be able to send your finance request to Rightboat selected partners who will assist in delivering finance quotes directly to you.
        = form_for Finance.new, remote: true, data: {format: :json}, html: { class: 'finance-form', multipart: true } do |f|
          .form-group.row
            .col-md-5.col-xs-12 1. Manufacturer
            .col-md-5.col-xs-12
              = f.select :manufacturer_id, Manufacturer.order(:name).collect { |x| [ x.name, x.id ] }, {prompt: 'Please select'}, class: 'select-general select-white'
          .form-group.row
            .col-md-5.col-xs-12 2. Model
            .col-md-5.col-xs-12
              = f.select :model_id, [], {prompt: 'Please select'}, class: 'select-general select-white'
          .form-group.row
            .col-md-5.col-xs-12 3. Age of Vessel
            .col-md-5.col-xs-12
              = f.select :age_of_vessel, ((current_year - 30)..current_year).to_a.reverse, {prompt: 'Please select'}, class: 'select-general select-white'
          .form-group.row
            .col-md-5.col-xs-12 4. Location
            .col-md-5.col-xs-12
              = country_tag('finance[country_id]', nil, prompt: 'Please select', class: 'select-white country-select')
          .form-group.row
            .col-md-5.col-xs-12 5. Price
            .col-md-5.col-xs-12
              .rb-control-group
                .rb-control
                  = f.text_field :price, class: 'form-control', 'data-validetta' => 'number'
                .rb-control-group-addon
                  = currency_tag 'finance[price_currency]', current_currency, class: 'select-white select-sm select-currency'
          .form-group.row
            .col-md-5.col-xs-12 6. Loan Amount Required
            .col-md-5.col-xs-12
              .rb-control-group
                .rb-control
                  = f.text_field :loan_amount, class: 'form-control', 'data-validetta' => 'number'
                .rb-control-group-addon
                  = currency_tag 'finance[loan_amount_currency]', current_currency, class: 'select-white select-sm select-currency'
          .form-group.row
            .col-md-3.col-xs-12
              = f.submit 'Submit a Request', class: 'btn-flat'
            .col-md-9.col-xs-12
              We will send your enquiry to Rightboat selected partners to assist in your search.

#finance-result-popup.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close(aria-label="Close" data-dismiss="modal" type="button")
          %span(aria-hidden="true") &times;
        .h Message Sent
      .modal-body
        %h1.text-center Thank you for your enquiry
        %h4.text-center
          Your details have been forwarded to select Boat Finance Specialists and they will be in touch in due course.