- @page_title = 'Boats for sale by model on Rightboat.com'

= render layout: 'shared/boats_for_sale' do
  = render 'model_letters'
  %h1 All Models
  %ul.flex-four-columns
    - @models.each do |m|
      %li #{link_to m.name, makemodel_path(m)} (#{m.boats_count})
  = paginate @models