#berths_popup.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close(aria-label="Close" data-dismiss="modal" type="button")
          %span(aria-hidden="true") &times;
        .h My Right Berths
      .modal-body
        = form_for BerthEnquiry.new, remote: true, data: {format: :json}, html: {class: 'simple-ajax-form'} do |f|
          = hidden_field_tag :length_min
          = hidden_field_tag :length_max
          = f.hidden_field :location
          = f.hidden_field :latitude
          = f.hidden_field :longitude
          .form-group.row
            .col-md-6.col-xs-12 1. I am looking to buy a berth
            .col-md-6.col-xs-12
              = f.radio_button :buy, 'true'
              = f.label :buy_true, 'Y'
              = f.radio_button :buy, 'false'
              = f.label :buy_false, 'N'
          .form-group.row
            .col-md-6.col-xs-12 2. I am looking to rent a berth
            .col-md-6.col-xs-12
              = f.radio_button :rent, 'true'
              = f.label :rent_true, 'Y'
              = f.radio_button :rent, 'false'
              = f.label :rent_false, 'N'
          .form-group.row
            .col-md-6.col-xs-12 3. I am looking for a home berth
            .col-md-6.col-xs-12
              = f.radio_button :home, 'true'
              = f.label :home_true, 'Y'
              = f.radio_button :home, 'false'
              = f.label :home_false, 'N'
          .form-group.row
            .col-md-6.col-xs-12 4. I am looking for a short term berth
            .col-md-6.col-xs-12
              = f.radio_button :short_term, 'true'
              = f.label :short_term_true, 'Y'
              = f.radio_button :short_term, 'false'
              = f.label :short_term_false, 'N'
          .form-group.row
            .col-md-6.col-xs-12 5. The size of the berth I am look for is:
            .col-md-6.col-xs-12
              .rb-control-group.length-input-group
                .rb-control
                  = slider_tag(:length, min: 0, max: 300, unit: 'm')
                .rb-control-group-addon
                  = select_tag :length_unit, options_for_select(%w(ft m), 'm'), class: 'select-sm select-general select-white'
          .form-group.row
            .col-md-6.col-xs-12
              6. I am looking for a berth here:
              %br
              %small &nbsp; (click on map to indicate)
              %br
              #location_address
            .col-md-6.col-xs-12
              #select-map

          .form-group.row
            .col-md-3.col-xs-12
              = f.submit 'Submit a Request', class: 'btn-flat'
            .col-md-9.col-xs-12
              We will send your enquiry to Rightboat selected partners to assist in your search.
