%p
  Dear #{@user.name},

- case @reason
  - when 'deleted'
    %p
      Unfortunately the boat #{@boat.manufacturer_model} which you
      #{@alert_reason == 'favourite' ? 'had in your favourites' : 'have enquired about'} has now been sold.

    - if @similar_boats.count > 0
      %p However, there are other similar listings which may be of interest to you.
      %table
        - @similar_boats.each_with_index do |boat, i|
          %tr
            %td= render 'boats/mail_thumb', boat: boat, visible: i < 3
      - if @similar_boats.count > 3
        .clear
          = link_to 'View More >', search_url(@boat.similar_options(@boat.currency)), id: 'view-more'

  - when 'price_changed'
    %p
      #{@alert_reason == 'favourite' ? 'Your favourite boat' : 'The boat you have enquired about'}
      #{link_to @boat.manufacturer_model, boat_url(@boat)} has changed price.
      New price is #{@boat.safe_currency.symbol}#{@boat.price}.

%br
%p
  Kind regards,
  %br
  The Team at #{link_to 'Rightboat', root_url}