%p
  Dear Manager,

%p
  #{link_to @user.to_s, admin_user_url(@user.slug)} has posted new <b>sell my boat request</b> to Rightboat.

%p
  Request type:
  %b=@request_type

%h4
  Boat Specifications:
%p
  Manufacturer: #{@boat.manufacturer.to_s}
  %br
  Model: #{@boat.model.to_s}
  %br
  Year Built: #{@boat.year_built}
  %br
  Location: #{@boat.location}
  %br
  Price: #{number_to_currency(@boat.price, unit: '£', precision: 0)} #{@boat.tax_paid ? '(Tax Paid)' : ''}
  %br
  LOA: #{@boat.length_m}m
  %br
  - @boat.boat_specifications.each do |spec|
    #{spec.specification.display_name}: #{spec.value}
    %br
  Description: #{@boat.description.html_safe}
  %br
  Owners Comment: #{@boat.owners_comment}
  %br

%h4 Images
- @boat.boat_images.each do |img|
  = link_to img.file_url do
    = image_tag img.file.url(:mini)

%p You can manage this boat on #{link_to 'here', admin_boat_url(@boat.slug)}.
