%p
  Dear #{@user.name},

%p
  New listings have been posted to Rightboat that match your following saved #{t('search_plural', count: @searches.size)}:

- @searches.each do |saved_search, new_boats|
  %p Search for #{saved_search.search_title}:
  %table
    - new_boats.each_with_index do |boat, i|
      %tr
        %td= render 'boats/mail_thumb', boat: boat, visible: i < 3
  .clear(style="margin: 0.5em 0 1.5em")
    %p
      Please find above links for new boats that match your saved search on Rightboat.
    - if new_boats.count > 3
      %p
        To see a complete list of all the boats that match your search click here...
        #{link_to 'View All', search_url(saved_search.to_search_params), class: 'btn'}

%p
  You can manage your alerts and email settings from the #{link_to 'My Alerts', member_user_alert_url}
  page within #{link_to 'My Rightboat', member_root_url}.

%p We will keep you up to date with new listings, price changes and great discounts and offers from Rightboat.

%br
%p
  Kind regards,
  %br
  The Team at #{link_to 'Rightboat', root_url}