- enquiry ||= nil

.boat-thumb-container.col-xs-12(style="#{'display: none;' if enquiry && enquiry.deleted?}" )
  .boat-thumb.thumbnail.boat-view{'data-boat-ref' => boat.slug,
                                  'data-length' => boat.length_m.to_f,
                                  'data-price' => boat.poa? ? nil : Currency.convert(boat.price, boat.currency, Currency.default)}
    .boat-img-thumb
      = link_to boat_path(boat, back: true) do
        - if boat.primary_image
          = image_tag boat.primary_image.file.url(:thumb), alt: boat_title(boat)
        - else
          .no-image
    .caption(href="#{boat_path(boat, back: true)}")
      .boat-links.text-right.pull-right
        - if controller_name == 'enquiries'
          .clearfix
            .broker-logo.pull-left
              - if !!boat.user.avatar.file
                = image_tag boat.user.avatar_url(:thumb), alt: boat.user.name, class: 'img-responsive'
            .pull-right
              = link_to 'Hide', member_enquiry_path(enquiry), method: :delete, remote: true, class: 'hide-enquiry btn-flat btn-white'
              .broker-detail
                = boat.user.full_name
                %br
                - if (phone_number = (boat.user.phone || boat.user.mobile)).present?
                  = phone_number
                  %br
                = boat.user.email
          .enquiry-stamp
            Request sent: #{enquiry.created_at.strftime('%d %b %Y')}
        - else
          = favourite_link_to boat
          = render 'shared/social_share', boat: boat
        - if controller_name == 'favourites'
          = link_to "#favourite-#{boat.id}", class: 'fav-link remove-fav' do
            &times;
      %h4.text-uppercase= boat.manufacturer
      %h5= boat.model
      .boat-detail-item.boat-length
        %span Length:
        %span(data-attr-name='loa')= boat_length(boat)
      .boat-detail-item
        %span Year: #{boat.year_built}
      .boat-location
        %span Location: #{boat.country.to_s}
      = yield if block_given?
      .clearfix