#sidebar.col-xs-6.col-sm-3.sidebar-offcanvas(role="navigation")
  .sidebar-nav
    %ul.nav.nav-pills.nav-stacked
      %li{class: nav_class_for('member/dashboard#index')}
        = link_to 'Welcome', member_root_path
      %li{class: ('active' if controller_name == 'dashboard' && action_name == 'about_me')}
        = link_to 'About Me', member_about_me_path
      %li{class: ('active' if controller_name == 'favourites')}
        = link_to 'My Favourites', member_favourites_path
      %li{class: ('active' if controller_name == 'saved_searches')}
        = link_to 'My Saved Searches', member_saved_searches_path
      %li{class: nav_class_for('member/dashboard#enquiries')}
        = link_to 'My Enquiries', member_enquiries_path
      %li{class: ('active' if controller_name == 'user_alert')}
        = link_to 'My Alerts', member_user_alert_path
      - unless current_user.company?
        %li{class: ('active' if controller_name == 'boats')}
          = link_to 'Sell My Boat', member_boats_path