- @page_title = "#{@boat_type.name.pluralize} for sale"
- @page_description = @page_title
- @canonical_url = boat_type_url(@boat_type.id)

- content_for :meta_tags do
  %meta(name="robots" content="index, follow")

= render layout: 'shared/boats_for_sale' do
  %h1= @page_title
  .row(data-layout-mode="#{current_layout_mode}")
    - @boats.each do |b|
      = render layout: 'boats/boat', locals: {boat: b} do
        -#
    = paginate @boats