.member-content(data-layout-mode='list')
  %h1 My Alerts
  %hr
  %p Here you can manage your email alerts. We will email you whenever a status changes for the boats you're watching - price changes, boat sold, etc, as well as keep you posted on any new listings that match your saved searches.
  = form_for [:member, @user_alert] do |f|
    .form-group
      = f.check_box :favorites
      = f.label :favorites, 'Email me if any boat in My Favourites change status'
    .form-group
      = f.check_box :enquiry
      = f.label :enquiry, 'Email me if any boat in My Enquiries change status'
    .form-group
      = f.check_box :saved_searches
      = f.label :saved_searches, "Email me if new listings match my saved searches (these alerts can also be managed individually in the #{link_to 'My Saved Searches', member_saved_searches_path} section.)".html_safe
    .form-group
      = f.check_box :suggestions
      = f.label :suggestions, 'Email me suggestions'
    .form-group
      = f.check_box :newsletter
      = f.label :newsletter, 'Email me the Rightboat newsletter'
    .row
      .col-xs-6.col-sm-4
        %button.btn-flat.btn-black(type="submit") Save Changes
