- current_year = Date.today.year

= form_for [:member, @boat], remote: true, data: {format: :json}, html: { class: 'simple-ajax-form', multipart: true } do |f|
  = f.hidden_field :currency_id, value: Currency.find_by(name: 'GBP').id
  %fieldset
    %h5 1. Boat Type:
    .form-group.clearfix
      .col-md-4.col-xs-12= f.label :manufacturer
      .col-md-8.col-xs-12= f.select :manufacturer_id, Manufacturer.order(:name).pluck(:id, :name).map { |id, name| [name, id] }, {}, include_blank: false, class: 'select-general', data: {'onchange-fill-models' => '#sell_boat_models_select'}, id: 'sell_boat_makers_select'
    .form-group.clearfix
      .col-md-4.col-xs-12= f.label :model
      .col-md-8.col-xs-12= f.select :model_id, [[f.object.model.try(:name), f.object.model.try(:id)]], {}, include_blank: false, class: 'select-general', 'data-validetta' => 'required', id: 'sell_boat_models_select'
    .form-group.clearfix
      .col-md-4.col-xs-12= f.label :year_built
      .col-md-8.col-xs-12= f.select :year_built, ((current_year - 40)..current_year).to_a.reverse, {}, class: 'select-general', 'data-validetta' => 'number'
  %fieldset
    %h5 2. Boat Specifics:
    .form-group.clearfix
      .col-md-4.col-xs-12= f.label :location
      .col-md-8.col-xs-12= f.text_field :location, class: 'form-control'
    .form-group.clearfix
      .col-md-4.col-xs-12= f.label :price, 'Expected Value(£):'
      .col-md-8.col-xs-12= f.text_field :price, class: 'form-control', 'data-validetta' => 'required,number'
    .form-group.clearfix
      .col-md-4.col-xs-12= f.label :tax_paid, 'Tax paid?'
      .col-md-8.col-xs-12
        = f.radio_button :tax_paid, true, checked: f.object.tax_paid?
        = label_tag :boat_tax_paid_true, 'Yes'
        = f.radio_button :tax_paid, false, checked: !f.object.tax_paid?
        = label_tag :boat_tax_paid_false, 'No'
  %fieldset
    %h5 3. Boat Details:
    .form-group.clearfix
      .col-md-4.col-xs-12= f.label :length_m, 'LOA:'
      .col-md-8.col-xs-12= f.text_field :length_m, class: 'form-control', 'data-validetta' => 'number'
    = f.fields_for :boat_specifications do |bs|
      .form-group.nested-fields.clearfix
        = bs.hidden_field :specification_id
        .col-md-4.col-xs-12= bs.label :value, bs.object.specification.display_name
        .col-md-8.col-xs-12= bs.text_field :value, class: 'form-control'
  %fieldset
    %h5 4. Additional Information:
    .form-group.clearfix
      .col-md-4.col-xs-12= f.label :description
      .col-md-8.col-xs-12= f.text_area :description, class: 'form-control'
    .form-group.clearfix
      .col-md-4.col-xs-12= f.label :owners_comment
      .col-md-8.col-xs-12= f.text_area :owners_comment, class: 'form-control'
  %fieldset
    %h5 5. Boat images:
    .form-group.clearfix
      .col-md-4.col-xs-12= label_tag('Please upload at least 1 image:') unless f.object.boat_images.not_deleted.any?
      .col-md-8.col-xs-12
        .preview-wrap
          = f.fields_for :boat_images do |boat_image|
            = render 'boat_image_fields', f: boat_image
          .links
            = link_to_add_association 'Add Image', f, :boat_images
  %fieldset
    %h5 6. Confirmation:
    .form-group.clearfix
      .col-xs-12
        = f.check_box :accept_toc, checked: @boat.persisted?
        = f.label :accept_toc, "I agree to the #{link_to 'T&C\'s', toc_home_path, target: '_blank'}".html_safe
    - if false
      .form-group.clearfix
        .col-xs-12
          = f.check_box :agree_privacy_policy, checked: @boat.persisted?
          = f.label :agree_privacy_policy, "I understand our #{link_to 'Private Advert Pricing Policy', privacy_policy_home_path, target: '_blank'}".html_safe
  - if false
    %fieldset
      %h5 7. Payment:
      .form-group.clearfix
        .col-xs-12
          = f.check_box :secure_payment
          = f.label :secure_payment, "I wish to make a secure online #{link_to 'payment', 'javascript: void(0);'}.".html_safe
  .form-group.text-center
    - Boat::SELL_REQUEST_TYPES.each_with_index do |x, i|
      - id = "boat_sell_request_type_#{x.downcase.gsub(/\s+/, '_')}"
      .request-type
        = check_box_tag 'boat[sell_request_type][]', x, nil, id: id
        = label_tag id, x, class: "btn-flat"

  .form-group
    %button.btn-flat.btn-black(type="submit") Save Changes
