An error occurred while processing

%p
  %b #{@error.class.name} Error: #{@error.message}
  %div(style="background-color: lightgray")
    - @error.backtrace.each do |line|
      %div= line
%p
  %b Import:
  %div= @import.inspect
%p
  %b Job:
  %div= @job.inspect

%p
  = link_to 'Rightboat Admin', admin_root_url
