= semantic_form_for [:admin, @import] do |f|
  = f.inputs 'Import' do
    = f.input :user, as: :select, collection: User.companies, label_method: :name, value_method: :id, include_blank: false
    = f.input :import_type, collection: Rightboat::Imports::ImporterBase.import_types, include_blank: false
    = f.input :threads
    = f.input :active
    = f.input :use_proxy, as: :boolean
  = f.inputs 'Parameters', id: 'import_params' do
    = f.semantic_errors :param

  = f.inputs 'Scheduling', id: 'import_scheduling' do
    %span Every
    = f.input :frequency_quantity, label: false
    = f.input :frequency_unit, as: :select, collection: Import::FREQUENCY_UNITS, include_blank: false, label: false
    %span(style="margin-left: 20px;") At:
    = f.input :at, label: false
    = f.time_zone_select :tz, nil, default: 'UTC'
    %li
      The <i>At</i> option is optional and format should be one of:
      <br/><b>1:30</b>, <b>**:30</b>, <b>9:**</b>, <b>12:00</b>, <b>18:00</b>, <b>Monday 16:20</b>
  = f.actions

- j_params = Rightboat::Imports::ImporterBase.import_types.inject({}) { |h, type| h[type] = Import.source_class(type).validate_param_option; h }
-##import_params_data{data: {imports_params: j(j_params.to_json), current_params: j(resource.param.to_json)}}
-#:javascript
-#  $(function() {
-#    window.imports_params = $.parseJSON($('#import_params_data').data('imports_params'));
-#    window.current_params = $.parseJSON($('#import_params_data').data('current_params'));
-#  }
:javascript
  $(function() {
    window.imports_params = #{j_params.to_json};
    window.current_params = #{resource.param.to_json};
  });
-# splitted to two declarations to fix rubymine highlighting
:javascript
  $(function() {
    $('#import_import_type').change(function() {
      var $ol = $('#import_params ol').empty();
      var type = $(this).val();
      var params = window.imports_params[type];
      var any_params = !$.isEmptyObject(params);
      if (any_params) {
        $.each(params, function(key, validations) {
          var val = window.current_params[key] || '';
          var id = 'import_param_'+key;
          if (!(validations instanceof Array))
            validations = [validations];
          var required = validations[0] == 'presence' ? ' <span style="color:red">*</span>' : '';
          console.log();
          var hint = (validations[1] && validations[1][0] == '(') ? ' <i style="font-weight:normal">'+validations[1].replace('(?-mix:\\A', '').replace('\\z)', '')+'</i>' : '';
          $('<li class="string input required stringish">').appendTo($ol)
            .append('<label for="'+id+'" class="label">'+key + required + hint+'</label>')
            .append('<input type="text" name="import[param]['+key+']" id="'+id+'" value="'+val+'">');
        });
      }
      $('#import_params').toggle(any_params);
    }).change();
  });