#advanced-search-wrapper.navbar-static-top
  = image_tag 'anchor.png', class: 'anchor-img', alt: ''
  #advanced-search.container
    %button.close{"aria-label" => "Close", :type => "button"}
      %span{"aria-hidden" => "true"}
        %small Close
        &times;
    %h2 Advanced Search

    = form_tag search_path, method: :get, class: 'row' do
      = hidden_field_tag :year_min
      = hidden_field_tag :year_max
      = hidden_field_tag :price_min
      = hidden_field_tag :price_max
      = hidden_field_tag :length_min
      = hidden_field_tag :length_max

      .col-xs-12
        .form-group.row
          .col-xs-4.col-sm-2
            = label_tag :keywords, 'Keywords'
          .col-xs-8.col-sm-10
            = text_field_tag :q, params[:q], id: 'keywords', class: 'tags-input', placeholder: 'e.g. 4berth'
      .col-sm-6.col-xs-12
        .form-group.row
          .col-xs-4
            = label_tag :manufacturer_model, 'Manufacturer / Model'
          .col-xs-8
            = text_field_tag :manufacturer_model, params[:manufacturer_model], class: 'select-black select-full tags-input', placeholder: 'e.g. Princess'
        -#.form-group.row
        -#  .col-xs-4
        -#    = label_tag :boat_type
        -#  .col-xs-8
        -#    = check_box_tag 'boat_type[all]'
        -#    = label_tag :boat_type, 'All'
        -#    = check_box_tag 'boat_type[power]'
        -#    = label_tag :boat_type, 'Power(131)'
        -#    = check_box_tag 'boat_type[sail]'
        -#    = label_tag :boat_type, 'Sail(23)'
        .range-slider-wrapper.row
          .col-xs-5.col-sm-4
            = label_tag :year
          .col-xs-7.col-sm-8
            = slider_tag(:year)
        .range-slider-wrapper.row.length-input-group
          .col-xs-5.col-sm-4
            .rb-control-group
              .rb-control
                = label_tag :length
              .rb-control-group-addon
                = select_tag :length_unit, options_for_select(['ft', 'm'], current_length_unit), class: 'select-white select-sm select-general'
          .col-xs-7.col-sm-8
            = slider_tag(:length, max: 150, unit: current_length_unit) # max in meter
        .range-slider-wrapper.row
          .col-xs-5.col-sm-4
            .rb-control-group
              .rb-control
                = label_tag :price
              .rb-control-group-addon
                = currency_tag :currency, current_currency, class: 'select-white select-sm select-currency'
          .col-xs-7.col-sm-8
            = slider_tag(:price, unit: current_currency.try(:name) || 'GBP')
        .form-group.row
          .col-xs-4
            = label_tag :tax_status
          .col-xs-8
            = check_box_tag 'tax_status[paid]', true, (params[:tax_status] || {})['paid'], class: 'inverse'
            = label_tag :tax_status_paid, 'Paid', class: 'tax-paid' do
              Paid
              %i
            = check_box_tag 'tax_status[unpaid]', true, (params[:tax_status] || {})['unpaid'], class: 'inverse'
            = label_tag :tax_status_unpaid, 'Unpaid', class: 'tax-not-paid' do
              Unpaid
              %i
      .col-sm-6.col-xs-12
        .form-group.row
          .col-xs-4
            = label_tag :boat_type
          .col-xs-8
            = select_tag 'boat_type[]', options_for_select(['Power', 'Sail', 'Other'], params[:boat_type]), class: 'select-black select-full select-general', multiple: 'multiple'
        -#.form-group.row
        -#  .col-xs-4
        -#    = label_tag :fuel_type
        -#  .col-xs-8
        -#    = select_tag :fuel_type, options_for_select(['Diesel', 'Petrol', 'Other'], params[:fuel_type]), class: 'select-black select-full select-general', multiple: 'multiple'
        .form-group.row
          .col-xs-4
            = label_tag :category
          .col-xs-8
            = select_tag 'category[]', options_from_collection_for_select(BoatCategory.all, :id, :name, params[:category]), class: 'select-black select-full select-general', multiple: 'multiple'
        .form-group.row
          .col-xs-4
            = label_tag :country
          .col-xs-8
            = select_tag 'country[]', options_from_collection_for_select(@search_facets[:countries].order(:name), :id, :name, params[:country]), class: 'select-black select-full multiple-country-select', multiple: 'multiple'
        .form-group.row
          .col-xs-4
            = label_tag :ref_no, 'Ref No.'
          .col-xs-8
            = text_field_tag :ref_no, '', placeholder: 'e.g. RB48573', class: 'form-control'
        .form-group.row
          .col-xs-4
            = label_tag :new_used, 'New / Used'
          .col-xs-8
            = check_box_tag 'new_used[new]', true, (params[:new_used] || {})['new'], class: 'inverse'
            = label_tag :new_used_new, 'New'
            = check_box_tag 'new_used[used]', true, (params[:new_used] || {})['used'], class: 'inverse'
            = label_tag :new_used_used, 'Used'
        .form-group.row
          .col-xs-4
            %button.btn-flat(type="submit" name="save_search") Save this Search
          .col-xs-8
            = button_tag 'Search', type: 'submit', class: 'btn-flat'
      .result-info.col-sm-12.col-md-12.text-center
        - if @boats
          Results:
          = @boats.total_count >= 10000 ? "10,000 plus" : @boats.total_count
          boats fit your criteria

- content_for :body_scripts do
  :javascript
    window.currencyRates = #{Currency.all.select(:name, :rate).inject({}) {|h, c| h[c.name] = c.rate; h}.to_json};
