- content_for :header_text do
  .navbar-h Boats <strong>For Sale</strong>

- content_for :navbar_links do
  - if controller_name == 'boats' && action_name == 'model'
    %li= link_to '← Boats for sale', boats_path, class: 'nav-link'
    %li= link_to "← #{@manufacturer.name}", make_path(@manufacturer), class: 'nav-link'
  - if controller_name == 'boats' && action_name == 'manufacturer' && (params[:models] || params[:countries])
    = render partial: 'shared/save_search_btn', locals: {nav_link: true}

  - elsif controller_name != 'boats' || action_name != 'index'
    %li= link_to '← Boats for sale', boats_path, class: 'nav-link'

= render 'shared/search_bar'

#main_content.container
  = yield