.row.topmost-row
  .col-xs-12
    - if controller_name == 'boats' && action_name == 'model'
      %small
        ← #{link_to 'Boats for sale', boats_path}
        ← #{link_to @manufacturer.name, make_path(@manufacturer)}

      -#- elsif controller_name == 'boats' && action_name == 'show'
      -#  %small
      -#    ← #{link_to 'Boats for sale', boats_path}
      -#    ← #{link_to @manufacturer.name, make_path(@manufacturer)}
      -#    ← #{link_to @model.name, makemodel_path(@model)}

    - elsif controller_name != 'boats' || action_name != 'index'
      %small
        ← #{link_to 'Boats for sale', boats_path}
