#enquiry_popup.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close(aria-label="Close" data-dismiss="modal" type="button")
          %span(aria-hidden="true") &times;
        .h Request Details
      .modal-body
        %p.text-center Your details will be forwarded to the broker. The full boat specification and broker details will be available for immediate download and held in your 'My Rightboat', with a copy sent to your email.
        = form_tag '#', class: 'enquiry-form' do
          = text_field_tag :honeypot, nil, class: 'hide'
          .row.login-toggle.active
            .col-sm-2.col-xs-12
              .form-group
                = select_tag :title, options_for_select(User::TITLES, current_user.try(:title)), prompt: 'Title', class: 'select-title enq-req-title'
            .col-sm-4.col-xs-12
              .form-group
                = text_field_tag :first_name, current_user.try(:first_name), placeholder: 'First name', class: 'form-control enq-req-fname', 'data-validetta' => 'required'
            .col-sm-6.col-xs-12
              .form-group
                = text_field_tag :surname, current_user.try(:last_name), placeholder: 'Last name', class: 'form-control enq-req-lname', 'data-validetta' => 'required'
          .row
            .col-sm-6.col-xs-12
              .form-group
                = email_field_tag :email, current_user.try(:email), placeholder: 'Email', class: 'form-control enq-req-email', 'data-validetta' => 'required,email', id: 'request_email'
            .col-sm-6.col-xs-12.login-toggle.active
              .form-group
                .rb-control-group
                  .rb-control-group-addon
                    = select_tag :country_code, options_for_country_code, prompt: 'Country Code', placeholder: 'Country Code', class: 'select-white select-sm country-code-select'
                  .rb-control
                    = text_field_tag :phone, current_user.try(:phone) || current_user.try(:mobile), placeholder: 'Phone', class: 'form-control'
            - unless current_user
              .col-sm-6.col-xs-12.login-toggle
                .form-group
                  .hide= text_field_tag :uname
                  = password_field_tag :password, '', placeholder: 'Password', class: 'form-control', 'data-validetta' => 'required'
          .form-group
            = text_area_tag :message, '', placeholder: 'Comments', class: 'form-control'
          - unless current_user
            .form-group
              = check_box_tag :have_account
              = label_tag :have_account, 'I have an account'
          .row
            /
              .col-xs-12.col-sm-6
                .form-group
                  .input-group.captcha-input
                    %label.input-group-addon(for="captcha")
                      %img.captcha-img
                    = hidden_field_tag :captcha_key
                    = text_field_tag :captcha, '', placeholder: 'Prove you are human', class: 'form-control', 'data-validetta' => 'required,number'
            .col-xs-12.col-sm-6
              = button_tag 'Send', type: 'submit', class: 'btn-flat btn-block'
          .clearfix

#enquiry_result_popup.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close(aria-label="Close" data-dismiss="modal" type="button")
          %span(aria-hidden="true") &times;
        .h Message Sent
      .modal-body
        %h1.text-center Thank you for your enquiry
        %h4.text-center
          The seller's details are: <b id="broker_name"></b><b id="broker_phone"></b>
          and they will be in touch.
          %br
          A downloadable PDF is available in 'My Requests' within 'My Rightboat' and a copy has also been sent to your email address.
          %br
          %br
          = link_to 'PDF link', '#', id: 'pdf_link', class: 'btn-flat btn-black'
        .signup-form-container.row
          %h3.text-center Sign up to MyRightboat for free
          .col-sm-offset-1.col-sm-10.col-xs-12
            %p.text-center
              Would you like rightboat.com to remember your details so you don't have to enter them again?
              It's FREE and you will also gain access to <a href='#'>premium features</a>.
            %p.text-center
              Simply fill out your details below to get started:

          .col-sm-12.col-xs-12
            = render 'shared/signup_form'
        .row.text-center
          %h4.similar-boats-link= link_to 'Similar Boats', '#'
          .similar-boats.row
