#enquiry-popup.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
      .modal-body
        %h1 Request Details
        %p.text-center Your details will be forwarded to the broker. The full boat specification and broker details will be available for immediate download and held in your 'My Rightboat', with a copy sent to your email.
        = form_tag '#', class: 'enquiry-form' do
          .row.login-toggle.active
            .col-sm-6.col-xs-12
              .form-group.row
                .col-xs-6
                  = label_tag :title
                  = select_tag :title, options_for_select(User::TITLES), prompt: 'Title', class: 'select-title select-sm'
                .col-xs-6
                  = label_tag :first_name
                  = text_field_tag :first_name, current_user.try(:first_name), class: 'form-control', 'data-validetta' => 'required'
            .col-sm-6.col-xs-12
              .form-group
                = label_tag :surname
                = text_field_tag :surname, current_user.try(:last_name), class: 'form-control', 'data-validetta' => 'required'
          .row
            .col-sm-6.col-xs-12
              .form-group
                = label_tag :email
                = email_field_tag :email, current_user.try(:email), class: 'form-control', 'data-validetta' => 'required,email'
            .col-sm-6.col-xs-12
              .form-group.row
                .col-xs-6
                  = label_tag :country_code
                  = select_tag :country_code, options_for_country_code, prompt: 'Please select...', placeholder: 'Please select...', class: 'select-white select-sm country-code-select'
                .col-xs-6
                  = label_tag :phone
                  = text_field_tag :phone, current_user.try(:phone) || current_user.try(:mobile), class: 'form-control'
          - unless current_user
            .row
              .col-sm-6.col-xs-12.login-toggle
                .form-group
                  .hide
                    = text_field_tag :uname
                  = label_tag :password
                  = password_field_tag :password, '', class: 'form-control', 'data-validetta' => 'required'
          .form-group
            = label_tag :message, 'Comments'
            = text_area_tag :message, '', class: 'form-control'
          - unless current_user
            .form-group
              = check_box_tag :have_account
              = label_tag :have_account, 'I have an account'
          .row
            .col-xs-12
              = label_tag :captcha, 'Prove you are human'
            .col-xs-12.col-sm-6
              .form-group
                .input-group.captcha-input
                  %label.input-group-addon(for="captcha")
                    %img.captcha-img
                  = hidden_field_tag :captcha_key
                  = text_field_tag :captcha, '', class: 'form-control', 'data-validetta' => 'required,number', placeholder: '?'
            .col-xs-12.col-sm-6
              = button_tag 'Send', type: 'submit', class: 'btn-flat btn-block'
          .clearfix

#enquiry-result-popup.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h1 Message Sent
      .modal-body
        %h1.text-center Thank you for your enquiry
        %h4.text-center
          The brokers details are: (<span id='broker-name'></span><span id='broker-phone'></span>)
          and they will be in touch.
          %br
          The PDF is downloadalbe <a href="" id="boat-pdf" target="blank">here</a> and has also been sent to your mail.
        .signup-form-container.row
          %h3.text-center Sign up to MyRightboat for free
          .col-sm-offset-1.col-sm-10.col-xs-12
            %p.text-center
              Would you like rightboat.com to remember your details so you don't have to enter them again?
              It's FREE and you will also gain access to <a href='#'>premium features</a>.
            %p.text-center
              Simply fill out your details below to get started:

          .col-sm-12.col-xs-12
            = render 'shared/signup_form'
        .row
          %h4.similar-boats-link= link_to "Similar Boats (click for more details)", '#'
          .similar-boats.row

:javascript
  $(function() {
    $(document).ready(function() {
      $('#enquiry-popup .country-code-select').selectize({
        allowEmptyOption: true
      });

      $('.select-title').selectize({
        create: true,
      });

      $('#have_account').change(function() {
        $('.login-toggle').toggleClass('active');
      });
    });
  });