%nav#footer.navbar.navbar-default
  .container
    %h1.text-center.no-margin
      %strong The &nbsp; global &nbsp; choice &nbsp; of &nbsp; boats &nbsp; for &nbsp; sale
    .row.rb-links
      .col-xs-6.col-sm-2.no-divider
        = link_to root_path do
          = image_tag 'logo-footer.png', alt: 'Rightboat'
      %ul.col-xs-6.col-sm-3.site-map
        %li= link_to 'About Us', about_path
        %li= link_to 'Support and Contact', contact_path
        %li= link_to 'Articles and Guides', '#'
      %ul.col-xs-6.col-sm-3.site-map
        %li= link_to 'Marine Services', '#'
        %li= link_to 'Sell my boat', '#'
        %li= link_to 'News', articles_path
      %ul.col-xs-6.col-sm-3.social-links
        %li= link_to '/Rightboat', 'https://www.facebook.com/Rightboat', class: 'fb-link'
        %li= link_to '@rightboatdotcom', 'https://www.twitter.com/rightboatdotcom', class: 'tw-link'
        %li= link_to 'Rightboat', 'https://plus.google.com/+Rightboat', class: 'gplus-link'
        %li= link_to '/rightboat', 'https://www.pinterest.com/rightboat', class: 'pint-link'
        /%li= link_to '/rightboat-ltd', 'https://instagram.com/rightboat', class: 'ig-link'
      .clearfix
    .row.company-info
      = link_to 'javascript: void(0);', class: 'no-divider' do
        %span &copy;#{Date.today.year}&nbsp;&nbsp;&nbsp;Rightboat Ltd - All Rights Reserved
      = link_to '#' do
        %span Policies
      = link_to '#' do
        %span Terms and Conditions
      = mail_to 'info@rightboat.com', nil, class: 'no-divider'
  = image_tag 'anchor.png', class: 'anchor-img', alt: ''
.clearfix