#lead_signup_popup.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close(aria-label="Close" data-dismiss="modal" type="button")
          %span(aria-hidden="true") &times;
        .h Message Sent
      .modal-body
        %p
          Thank you for your enquiry. Your download will start shortly.
        %p
          To view the full specification and PDF in #{link_to 'My Rightboat', '#', class: 'bold-link open-features-popup'}
          simply enter a password:

        = form_tag signup_and_view_pdf_path, class: 'simple-ajax-form p', id: 'lead_signup_form', remote: true, data: {format: :json} do
          = hidden_field_tag :email, nil, id: 'signup_email'
          = hidden_field_tag :title, nil, id: 'signup_title'
          = hidden_field_tag :first_name, nil, id: 'signup_first_name'
          = hidden_field_tag :last_name, nil, id: 'signup_last_name'
          = hidden_field_tag :phone, nil, id: 'signup_phone'
          = hidden_field_tag :boat_id, nil, id: 'signup_boat'
          = hidden_field_tag :lead_id, nil, id: 'signup_lead_id'
          .row
            .col-sm-6.col-xs-12
              .form-group
                = password_field_tag :password, '', placeholder: 'Password', class: 'form-control', 'data-validetta' => 'required'
            .col-sm-6.col-xs-12
              .form-group
                = password_field_tag :password_confirmation, '', placeholder: 'Password Confirm', class: 'form-control', 'data-validetta' => 'required'
          .row
            .col-sm-6.col-xs-12
              %button.btn-flat.btn-black(type="submit") View now

        %p
          Membership to My Rightboat is completely <abbr class="open-features-popup open-popup-text">FREE</abbr> — we will never charge you.
        %p
          = link_to 'Privacy policy', privacy_policy_home_path, target: '_blank'

#features_popup.modal.fade.secondary-popup
  .modal-dialog
    .modal-content
      .modal-header
        %button.close(aria-label="Close" data-dismiss="modal" type="button")
          %span(aria-hidden="true") &times;
        .h Free membership benefits
      .modal-body
        %ul.checks-list
          %li Download full specifications and broker details instantly
          %li Set up tailored alerts
          %li Keep tabs on favourite boats
          %li Customised keyword searches
          %li Discounts off Boat Show tickets
          %li Personalise your experience
