%meta(charset="UTF-8")
%meta(name="viewport" content="width=device-width, initial-scale=1")
%meta(name="title" content="#{@page_title || 'Boats for sale on Rightboat.com'}")
%meta(property="og:title" content="#{@page_title || 'Boats for sale on Rightboat.com'}")
%meta(property="og:url" content="#{@canonical_url || root_url}")
%meta(property="og:image" content="#{@image_url || asset_url('logo.png')}")
%meta(property="og:site_name" content="Rightboat.com")
%meta(name="description" content="#{@page_description || 'Boats for Sale in UK, Europe, USA and around the world - Sailing Yachts, Motor Boats, Power Boats, Luxury Yachts  Fishing Boats for sale'}")
%meta(property="og:description" content="#{@page_description || 'Boats for Sale in UK, Europe, USA and around the world - Sailing Yachts, Motor Boats, Power Boats, Luxury Yachts  Fishing Boats for sale'}")
%link(rel="canonical" href="#{@canonical_url || root_url}")

- if content_for :meta_tags
  = yield :meta_tags
