%nav.navbar.navbar-default.nabvar-tools
  .container
    = form_tag search_path, method: :get, class: 'navbar-form navbar-left', role: 'search' do
      = text_field_tag :q, params[:q], class: 'form-control', placeholder: 'Quick Search'
    %ul.nav.navbar-nav.page-links
      %li= link_to 'Refine Search', '#', class: 'toggle-adv-search'
      %li= link_to 'Back', :back, class: 'return-prev'
      - if controller_name == 'search'
        %li
          = link_to 'Save this search', member_saved_searches_path(params.except(:controller, :action)),
                     method: :post, data: {'require-login' => true}, id: 'save-search'

    - unless local_assigns[:simple_search_bar]
      %ul.nav.navbar-nav.navbar-right.display-options
        %li
          .navbar-text
            %span Sort by
            = select_tag :sort, search_order_options, class: 'rb-select2-md select-general', id: 'search_order'
        %li
          .navbar-text
            %span View
            = select_tag :sort, layout_mode_options, id: 'layout_mode'
