%nav.navbar.navbar-default.nabvar-tools
  .container
    = form_tag search_path, method: :get, class: 'navbar-form navbar-left', role: 'search' do
      = text_field_tag :q, params[:q], class: 'form-control', placeholder: 'New Search'
      %button(type='submit')
        %i.icon.icon-search
    %ul.nav.navbar-nav.page-links
      - if controller_name.in?(%w(search manufacturers)) || @back_url
        %li= link_to 'Refine this Search', '#', class: 'toggle-adv-search nav-link'
      - if controller_name == 'search'
        %li.save-search
          = link_to 'Save this Search', member_saved_searches_path(params.except(:controller, :action)),
                     method: :post, remote: true, class: 'nav-link',
                     data: {'require-login' => true, 'login-title' => 'Please sign in or join as a member to save your search.'}
          .result-popup
            Your search has been saved. You will receive an email each time a boat is listed that meets this criteria. Manage and amend this alert #{link_to 'here', member_user_alert_path}.
      - if @boat
        %li= link_to 'Search Similar', search_path(@boat.similar_options(current_currency, current_length_unit)), class: 'nav-link'
      - if @back_url
        %li= link_to '< Back to Results', @back_url, class: 'nav-link'
      - elsif params[:back] && params[:back] == 'true'
        %li= link_to 'Back', :back, class: 'return-prev nav-link'

    - if @boats
      %ul.nav.navbar-nav.navbar-right.display-options
        %li
          .navbar-text
            %span Sort by
            = select_tag :sort, search_order_options, class: 'rb-select2-md select-general', id: 'search_order'
        %li
          .navbar-text
            %span View
            = select_tag :sort, layout_mode_options, id: 'layout_mode', class: 'notranslate', translate: 'no'
