#login_popup.modal.modal-login.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close(aria-label="Close" data-dismiss="modal" type="button")
          %span(aria-hidden="true") &times;
      .modal-body
        %h4#login-title.text-center
        #login-content.row
          .col-sm-6
            %h2.text-center Sign In
            %p If you already have an account, please enter your details:
            = form_tag user_session_path, class: 'session-form' do
              .form-group
                = label_tag :email, 'Account'
                = text_field_tag :email, '', class: 'form-control', 'data-validetta' => 'required', placeholder: 'Email'
              .form-group
                = label_tag :password
                = password_field_tag :password, '', class: 'form-control', 'data-validetta' => 'required', placeholder: 'Password'
              .form-group
                = check_box_tag :remember_me
                = label_tag :remember_me
              .form-group
                = button_tag 'Login', type: 'submit', class: 'btn-flat btn-block'
              .form-group
                = link_to 'Forgotten your password?', new_user_password_path, id: 'forgot-link'
          .col-sm-6
            %h2.text-center Join for free
            %p Sign up now for free and discover how easy it is to keep up to date with THE latest boats for sale. Find your right boat, and tailor your voyage to finding your next boat.
            %p Benefits of becoming a member:
            %ul
              %li Set up tailored alerts
              %li Personalise your experience
              %li Download full specifications and broker details
              %li Keep tabs on your favourite boats
            = link_to 'Join', '#', class: 'btn-flat btn-block user-register'
          .col-sm-12
            %p.trader-hint Are you a broker? Join in our #{link_to 'Broker Area', register_broker_path, class: 'register-broker-link', rel: 'nofollow'}
        #register-content.row{style: 'display: none;'}
          .col-sm-12
            %h2 Rightboat Register
            = render 'shared/signup_form'
          .col-sm-12
            %p
              Do you have an account already?
              = link_to 'Login', '#', class: 'user-login'