= form_tag user_registration_path, class: 'register-form' do
  .form-group
    = label_tag :name
    .row
      .col-md-2.col-xs-12
        = text_field_tag :title, '', class: 'select-white select-sm'
      .col-md-5.col-xs-12
        = text_field_tag :first_name, '', placeholder: 'First name', class: 'form-control', 'data-validetta' => 'required'
      .col-md-5.col-xs-12
        = text_field_tag :last_name, '', placeholder: 'Last name', class: 'form-control', 'data-validetta' => 'required'
  #signup-email.form-group
    = label_tag :email
    = email_field_tag :email, '', class: 'form-control', 'data-validetta' => 'required,email'
  .form-group
    = label_tag :username
    = text_field_tag :username, '', class: 'form-control', 'data-validetta' => 'required,custom[username]'
  .form-group
    = label_tag :password
    = password_field_tag :password, '', class: 'form-control', 'data-validetta' => 'required'
  .form-group
    = label_tag :password_confirmation
    = password_field_tag :password_confirmation, '', class: 'form-control', 'data-validetta' => 'required'
  .form-group
    = button_tag 'Create Account', type: 'submit', class: 'btn-flat'
    &nbsp;Or&nbsp;
    = link_to 'Cancel', '#', "aria-label" => "Close", "data-dismiss" => "modal", class: 'text-white'

:javascript
  $(function() {
    $(document).ready(function() {
      $('#title').select2({
        tags: #{User::TITLES},
        tokenSeparators: [],
        maximumSelectionSize: 1,
        formatSelectionTooBig: function() { return ''; }
      })
    });
  });