#main-content.container
  .row
    .col-md-3
      = image_tag "advert-left.png"

    .col-md-9
      %h1 About Rightboat.com

      %p
        %strong Rightboat.com was launched in 2006 with the aim of being the quickest, easiest place to #{link_to 'buy and sell boats', '#'} on the Internet.
      %p Our techies insist on the highest level of clever coding. Our designers ensure everything looks its level best. And our devoted boat industry experts constantly keep us up to date and in the know.

      %p The website represents hundreds of leading boat brokers and dealers from around the globe. We want to help our members, individuals and businesses to buy or sell boats quickly, easily and cost-effectively. Our database of boats has grown year on year becoming the most comprehensive marine website for all types of vessels. Everything from ribs, speed boats, motor cruisers, sailing boats, house boats, to fishing boats and commercial vessels.

      %p We strive to be at the forefront of the market by embracing technological advances and applying them to marine advertising.

      %p
        The following list is a sample where we have led the field:
        %ul.list-disc
          %li Jan 2007 we launched the unique anti ghost boats feature – i.e we actively police fake ads and listings.
          %li Jan 2007 we launched the unique multi broker listing feature – i.e we highlight if more than one broker has the same boat for sale.
          %li Jan 2007 we launched our free boat valuation service.
          %li May 2008 we were the first to launch a faceted search system – i.e you can drill down and easily narrow your search options.
          %li Jun 2009 we added our recently viewed boats – remembering visitors last viewed boats even when they leave the website.
          %li Jan 2011 we launched the first boats for sale iPhone app – allowing easy access on the move.
          %li April 2012 we launched our recently reduced boats page to the homepage of the website – allowing visitors to see the latest reduced boats.
          %li June 2012 the new Rightboat.com website arrived with new features like - Our Suggestions For You – Offering boats of interest to every visitor who returns to Rightboat.com.

      %p As well as facilities for buying and selling boats, we also provide a comprehensive range of links to: boat insurance, boat transport, boat finance, foreign exchange, boat surveyors, boat berths, and marina’s in our directory menu and banner advertising.

      %p
        %strong Dealers and Brokers
        , you'll find that our membership packages are not only highly successful at generating boat sales, but also provide you with an attractive showcase that can be used to power your own website. Our website will also focus on promoting brand awareness for your company, providing you with consistent marketing support. For full information on what Rightboat.com can do to help your business can be found in our #{link_to 'trade account', '#'}.

      %p
        %strong Boat buyers
        , If you are looking for the right boat, we have thousands of new and used boats and #{link_to 'yachts for sale', '#'} to choose from. Why not start your search today by simply typing what you are looking for in our ‘keyword search’ box  - our clever system will offer you some predictive makes as you type or if you are unsure of the manufacturer simply fill in our ‘keyword search’ box.

      %p
        %strong Private sellers
        , why not sign up today and you will be able to use these useful services;
        %ul.list-disc
          %li Free valuation service.
          %li Free email alerts on the latest boats added to our system you are looking for.
          %li Sell your boat from as little as £10.00 per month.

      %p Contact us today to find out how we can help you sell boats.

      %h2 Your Feedback Counts!
      %p One of the issues that motivated Rightboat.com to form and develop was a frustration that existing sites did not respond to feedback and suggestions. At Rightboat.com we love to hear your comments (both good and bad!). Please feel free to send us #{link_to 'your suggestions', '#'}.
