- content_for :header_text do
  .navbar-h Broker Area

= render 'shared/search_bar'

#main-content.container(style="max-width: 500px; padding-bottom: 100px; padding-top: 75px;")
  - @custom_flashes = true
  - if notice
    .alert.alert-info= notice
  - if alert
    .alert.alert-warning= alert

  %h1 Email Activation
  %p(style="margin: 25px 0") Confirmation instructions were sent to your email <b>#{current_user.email}</b>.
  %p If you didn't receive the email, click Resend.
  = form_tag resend_confirmation_path, class: 'form-inline' do
    .form-group
      = label_tag :email, 'Email'
      = text_field_tag :email, params[:email] || current_user.try(:email), class: 'form-control', 'data-validetta' => 'required,email'
    .form-group
      %button.nice-button(type="submit") Resend
