- @page_title = 'Boats for sale on Rightboat.com'

- content_for :header do
  = render 'navbar'
  = render 'shared/advanced_search'
  = render 'search'

  .page-gap
    .embed-responsive.embed-responsive-home-page

#main-content
  - if @featured_boats.any?
    #featured-boats.nabvar-tools
      %h3.toolbar-title Featured Boats
    .container
      .row(data-layout-mode="gallery")
        = render @featured_boats, back: true

  - if @recent_boats.any?
    #recent-boats
      %h3.toolbar-title My Recent Views
      .container
        .row
          = render partial: 'boats/vertical_thumb', collection: @recent_boats, as: :boat, locals: { back: true }

  - if @newest_boats.any?
    #newest-boats.nabvar-tools
      .container
        %h3.text-center Newest boats
        .slick-nav
          - @newest_boats.each do |boat|
            = link_to boat_path(boat, back: true) do
              .caption.text-center
                %h4
                  %strong= boat.manufacturer
                  = boat.model
                %p.price(data-attr-name='price')= boat_price(boat)
                %p.boat-length
                  %span(data-attr-name='loa')= boat_length(boat)
                %p= boat.year_built
                %p= boat.country.to_s

  #about.rb-brief.container
    .text-center
      %h3 About Us
      %p.lead Rightboat.com, launched to boat brokers and buyers by the professional broker community in 2005 as the quickest and easiest place to buy and sell boats on the web, has been extensively rebranded and re-engineered using cutting edge technology to produce the foremost boat sales marketplace in 2015 and beyond.
      %p If you want to #{link_to 'browse boats for sale', manufacturers_path} and have unlimited access to the leading global marine marketplace, then you have come to the right place! With a rapidly growing inventory of tens of thousands of boats and yachts for sale, from hundreds of the world’s leading boat brokers, the Rightboat marketplace offers users the latest design, search and display technology on a fully responsive and mobile optimised platform, making the search for your Right Boat the most engaging it has ever been.
      %p Our Rightboat member area, whether you’re a buyer or broker, enables you to keep tabs on your favourite boats, and record your enquiries. The saved search facility allows you to set alerts and preferences for your boat searches, keeping you right up to date in an ever changing marketplace, whether you’re looking for a power boat, yacht, fishing boat or canal boat either locally, nationally or globally. Our marketplace helps you find the Rightboat quickly and easily.
      %p Whether it is your first boat purchase or one of many you have made over the years, you will find a huge selection of new and used boats for sale and we make it fast and simple to find and enquire about boats by make, model, price, size and location and to get in touch with the right broker authorised to sell the boat.
      %p We have a vast range of boats and yachts listed from right across the world. You can find everything from small #{link_to 'fishing boats', boat_type_path('Fishing Boats')} to #{link_to 'mega yachts', boat_type_path('Super Yacht')} and so many other great types of boats including #{link_to 'sailing yachts', boat_type_path('Sailing yacht')}, #{link_to 'powerboats', boat_type_path('Power')}, #{link_to 'multihulls', search_path(q: 'multihull')}, #{link_to 'motor cruisers', boat_type_path('Cruiser')}, #{link_to 'RIBs', boat_type_path('RIB')} and many more boat types.
      %p To give you a flavour of what we help sell and to help you on your journey in boat ownership, here is a quick review of the main types of boats and yachts for sale, however this list isn’t exhaustive:
      %h4 Superyachts
      %p This is where the dream starts for most of us, whether you would choose power or sail, these yachts are synonymous with luxury and the VIP lifestyle. Technically starting at a mere 24 metres (>79 feet) in length and delivering all round excellence, these boats often sport saunas and jacuzzis and require a full time, live aboard, crew. These boats are what dreams are made of! Often custom built by shipyards across the globe, top manufacturers such as #{%w(Azimut Ferretti Benetti).map { |x| m = Manufacturer.find_by(name: x); link_to(x, (m ? manufacturer_path(m) : '#')) }.to_sentence(last_word_connector: ' and ').html_safe} lead the way in this ever evolving luxury marketplace. One day eh…..!
      %h4 Sailing Yachts
      %p If the thought of the wind in your sails gets your heart racing, our vast selection of sailing yachts will not disappoint. Rightboat offers thousands of new and used #{link_to 'sailing yachts', boat_type_path('Sailing yacht')} for sale including yachts from many of the most prestigious boat builders such as #{%w(Beneteau Dufour Jeanneau Bavaria Hunter Catalina Lagoon).map { |x| m = Manufacturer.find_by(name: x); link_to(x, (m ? manufacturer_path(m) : '#')) }.to_sentence(last_word_connector: ' or ').html_safe} to suit all budgets and abilities. If it’s single hull, multi-hull or racing yachts, you will find them all in our inventory of boats for sale.
      %h4 Offshore cruisers or Motor Yachts
      %p If getting from A to B with a bit more than the wind to rely on is your passion, then look no further that Rightboat.com. If it’s on the water with an engine you’ll find it here, from #{link_to 'fishing boats', boat_type_path('Fishing Boats')}, to sports boats and cruisers, to flybridge yachts and motor sailors, Rightboat offers thousands to choose from, listed for sale by reputable brokers around the globe, you will find quality vessels from well known manufacturers such as #{['Fairline', 'Princess', 'Sunseeker', 'Sea Ray', 'Boston Whaler', 'Carver', 'Riva'].map { |x| m = Manufacturer.find_by(name: x); link_to(x, (m ? manufacturer_path(m) : '#')) }.join(', ').html_safe} and many more.
      %h4 Rigid Inflatable Boats (RIBS)
      %p Known as the 4x4’s of the sea these highly versatile craft have become very popular over the last 15 years. From a luxury high performance boat by Scorpion RIBS, Stingher or Pasoce, to a fun, family weekend run-around by #{%w(Avon Zodiac Brig Humber).map { |x| m = Manufacturer.find_by(name: x); link_to(x, (m ? manufacturer_path(m) : '#')) }.to_sentence(last_word_connector: ' or ').html_safe}. These boats are suitable for all budgets and are great fun for all involved.
      %h4 Fishing Boats
      %p Fishing for commercial benefit or as a leisure pursuit means that fishing boats are one of the most popular types of boats for sale. If you are looking for a recreational family fisher-cruiser or a full on trawler, we have a broad selection. Choose inshore or further offshore, and you will discover fishing boats from manufacturers such as #{%w(Jeanneau Quicksilver Bayliner).map { |x| m = Manufacturer.find_by(name: x); link_to(x, (m ? manufacturer_path(m) : '#')) }.join(', ').html_safe} and many more.
      %p We hope you enjoy the fully re-designed Rightboat marketplace, and that we can help you turn your dream boat into reality, whatever your budget may be.
      %p Rightboat.com - the global choice of boats for sale.

  - if @recent_tweets.any?
    .twitter-feed-slider
      .container
        .flexslider
          - @recent_tweets.each do |tweet|
            %li
              .tweet-feed
                %p.text-center= sanitize(auto_link(tweet.text, url_class: 'tweet-source-link'), tags: %w(strong a), attributes: %w(href class))
                %p.text-center.small -posted #{time_ago_in_words(tweet.created_at)} ago - #{auto_link("@#{Figaro.env.twitter_handle}").html_safe}

:javascript
  $(function() {
    //function formatCurrency (currency) {
    //  console.log(currency);
    //  if (!currency.id) { return currency.text; }
    //  var $currency = $(
    //    '<span><img src="vendor/images/flags/' + state.element.value.toLowerCase() + '.png" class="img-flag" /> ' + state.text + '</span>'
    //  );
    //  return $currency;
    //};

    $('.flexslider').slick({
      slidesToShow: 1,
      arrows: true
    });

    if (#{params[:popup_login].to_json}) {
      $('#login_popup').modal('show');
    }

    $('.slick-nav').slick({
      autoplay: true,
      autoplaySpeed: 30000,
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 3
    });

    $('.slick-nav .caption').css({visibility: 'visible'})
  });