- content_for :header do
  = render 'navbar'
  = render 'shared/advanced_search'
  = render 'search'

  .page-gap
    .embed-responsive.embed-responsive-home-page

#main-content
  - if @featured_boats.any?
    #featured-boats.nabvar-tools
      %h3.toolbar-title Featured Boats
    .container
      .row(data-layout-mode="gallery")
        = render @featured_boats, back: true

  - if @recent_boats.any?
    #recent-boats
      %h3.toolbar-title My Recent Views
      .container
        .row
          = render partial: 'boats/vertical_thumb', collection: @recent_boats, as: :boat, locals: { back: true }

  - if @newest_boats.any?
    #newest-boats.nabvar-tools
      .container
        %h3.text-center Newest boats
        .slick-nav
          - @newest_boats.each do |boat|
            = link_to boat_path(boat, back: true) do
              .caption.text-center
                %h4
                  %strong= boat.manufacturer
                  = boat.model
                %p.price(data-attr-name='price')= boat_price(boat)
                %p.boat-length
                  %span(data-attr-name='loa')= boat_length(boat)
                %p= boat.year_built
                %p= boat.country.to_s

  #about.rb-brief.container.text-center
    %h3 About Us
    %p.lead Rightboat.com was launched in 2005 with the aim of being the quickest, easiest place to buy and sell boats on the internet.
    %p if you want to #{link_to 'browse boats for sale', search_path} and have unlimited access to a global marine marketplace, then you have come to the right place! With over 20,000 boats and yachts for sale, reaching 500 international boat brokers, our growing inventory offers the latest search and mobile technology to ensure your boat search is as easy as 1, 2, 3!
    %p Every boat you visit at Rightboat.com is fully available or ready to order, via a reputable brokerage agent or new boat dealer.
    .rb-extended
      %p
        Here some of the reasons why Rightboat.com should be the ONLY place you visit to buy a boat:
        %ul.list-disc.text-left
          %li
            %b A simple to use, uncluttered website
            \– no distractions, just an exceptional boat search facility for buyers and sellers.Jan 2007 we launched the unique anti ghost boats feature – i.e we actively police fake ads and listings.
          %li
            %b Mobile
            \– everyone’s got a smart phone or a tablet these days, so we’ve ensured the technology behind our website makes it the most effective and smart way to buy and sell boats on any device, at home on your PC, or on the move.
          %li
            %b No ghost boats
            \– we know how frustrating it can be when you find the same boat listed 2 or 3 times on a website and at different prices or the broker doesn’t actually own the listing.   Our service offers buyers direct access to the main sales specialist on any boat for sale.	We regularly check for duplicate adverts and just in case we do find any, we ask our brokers for proof of main-brokerage contract.  Saving time for everyone.
          %li
            %b Join My Rightboat and tailor your experience
            \- We broadcast all boats to everyone who uses the site and encourage users to become a member of MyRightboat.      Sign up and take advantage of the personalised service we offer.   MyRightboat gives you access to your own homepage, featuring recent searches, saved PDF’s of downloaded specifications, favourites, communications and much more.   The added alert facility means you can keep in touch with new listings and price reductions of boats you have viewed and also share information socially.
          %li
            %b Easy to print off specifications
            \- A branded PDF print-off of every boat is available.
          %li
            %b Get social
            \- share your dream boat, using our easy to use sharing tool, broadcast on social media or send using email to your nearest and dearest.
      %p Every boat you visit at Rightboat.com is fully available or ready to order, via a reputable brokerage agent or new boat dealer.
      %p
        Thats enough about us!  Lets talk about you - if you already own a boat or are just dipping your toe in the water, let our expert support team guide you and put you in touch with the right broker and turn your dream into reality.
        %br
        Get in touch!
    /= link_to 'more...', 'javascript: void(0)', class: 'toggle-about'

  - if @recent_tweets.any?
    .twitter-feed-slider
      .container
        .flexslider
          - @recent_tweets.each do |tweet|
            %li
              .tweet-feed
                %p.text-center= sanitize(auto_link(tweet.text, url_class: 'tweet-source-link'), tags: %w(strong a), attributes: %w(href class))
                %p.text-center.small -posted #{time_ago_in_words(tweet.created_at)} ago - #{auto_link("@#{Figaro.env.twitter_handle}").html_safe}

:javascript
  $(function() {
    //function formatCurrency (currency) {
    //  console.log(currency);
    //  if (!currency.id) { return currency.text; }
    //  var $currency = $(
    //    '<span><img src="vendor/images/flags/' + state.element.value.toLowerCase() + '.png" class="img-flag" /> ' + state.text + '</span>'
    //  );
    //  return $currency;
    //};

    $('.flexslider').slick({
      slidesToShow: 1,
      arrows: true
    });

    if (#{params[:popup_login].to_json}) {
      $('#login_popup').modal('show');
    }

    $('.slick-nav').slick({
      autoplay: true,
      autoplaySpeed: 30000,
      infinite: true,
      slidesToShow: 3,
      slidesToScroll: 3
    });
  });