#main-content.container
  .row
    .col-md-12
      %h2.text-center Sell My Boat
      %p
        If you want to reach the largest number of potential buyers without breaking the bank, it's important to advertise in the right medium. By placing an advert on Rightboat.com your boat(s) will be searchable on one of the most visited boats-for-sale websites in the world with thousands of serious boat buyers.
      %p
        What’s more with our unique Pay Per Lead (PPL) model, you get to advertise your boats for free and only pay when you receive a genuine lead*.
      %br
      %ul.list-decimal
        %li
          %h4
            Marine Business?
            %small If so, you will need to register in the #{link_to 'Broker Area', register_broker_path, class: 'register-broker-link', rel: 'nofollow'}.
        %li
          %h4
            Private Seller?
            %small While you have the ability to sell your boat here, we highly recommend using an #{link_to 'ABYA Broker', 'http://www.abya.co.uk', target: '_blank'}. #{link_to 'ABYA', 'http://www.abya.co.uk', target: '_blank'} (Association of Boat and Yacht Brokers) membership is only open to existing, practising brokers with a proven track record, #{link_to 'ABYA', 'http://www.abya.co.uk', target: '_blank'} who are regularly scrutinised by the Association. The numerous benefits of using a broker can be found #{link_to 'here', 'javascript: void(0);'}.
          %h4 However, if you are a private seller and wish to create an advert to sell your boat, then just take the following steps:
          %br
          %ul.list-disc
            %li Step 1. #{link_to 'Log In', '#', class: 'user-login'} or #{link_to 'register', '#', class: 'user-register'} on Rightboat.
            %li Step 2. Within ‘#{link_to "My Rightboat", member_root_path, "data-require-login" => true}’ , go to the tab ‘Sell My Boat’. Place an advert process starts here.
          %br
          %br
          %small *See our #{link_to 'terms and conditions', toc_path} for a full explanation of what this means.
          %br
          %br
