- content_for :header_text do
  %h1
    %strong Rightboat Ltd
  %h3 Terms and conditions

#main-content.container
  .row
    .col-md-12
      %h4 General Terms and Conditions of Use
      %p These are the terms and conditions of use for the website #{link_to 'www.rightboat.com', root_path}. You should read these terms and conditions carefully before using this website. You may print a copy of the terms and conditions for reference at any time. By becoming a member or accessing the site, you accept the terms and conditions of use. We reserve the right to amend the terms and conditions at any time, without notice.
      %h4 Ownership
      %p 'We' are Rightboat Ltd, of Castle Malwood, Minstead, Hampshire, S043 7PE, UK. Our Company Registration Number is 5926560. Our website #{link_to 'www.rightboat.com', root_path} is available to private individuals and registered professional brokers who wish to list, browse for, and buy or sell boats and/or related marine services.
      %h4 Definitions
      %p Where used in this document: ‘the Broker Member’ means the company or individual registered as a Broker Member and commissioning work from the Company; ‘the Company’ or ‘We’ means Rightboat Ltd; ‘the Customer’ means a private individual accessing and browsing boats for sale on the site; ‘the MyRightboat’ Customer Member means a registered Customer who is enquiring about boats listed for sale.
      %h4 Member Only Services
      %p Certain services on this website are available to registered MyRightboat Customer Members and Broker Members only. To become a MyRightboat Customer Member or Broker Member, you must register your details on this website. The information you provide when you register as a MyRightboat Customer Member or Broker Member will enable us to provide you with access to those parts of the website that are only available to MyRightboat Customer Members or professional Broker Members. It will also enable us to supply certain services requested by you that are only available to MyRightboat Customer Members or Broker Members. Only registered MyRightboat Customer Members or Broker Members may use the following services on this website:
      %ul.list-disc
        %li Broker Member services
        %li MyRightboat Customer Member services
      %br
      %p We reserve the right to change, add to or remove any member-only or other services available from this website. We will advise you of any changes by email or notice on this website.
      %h4 Registration
      %p You must register your details in the membership registration form provided. Once your details are verified we will confirm our acceptance of your registration by email. Once registered, you must not disclose your confidential login username or password to any other party. Failure to adhere to this policy will lead to the cancellation of your Membership.
      %h4 Ownership of content
      %p Rightboat Ltd owns the copyright and all other intellectual property rights to #{link_to 'www.rightboat.com', root_path}. Boat images and data uploaded by the Broker Member is copyright  the Broker Member.
      %p To prevent fraudulent use of images we may issue a watermark on each image and video supplied to Rightboat Ltd. We will wherever possible, support Broker Members to exert their rights to copyright images and data and prevent or restrict its fraudulent use.
      %p You may download permitted material from this website to use the services only available to Members. You must not copy, transmit, modify, republish or store any material or information from the website without the prior written consent of Rightboat Ltd.
      %h4 Accuracy of content supplied to Rightboat
      %p The Broker Member is responsible for ensuring the accuracy and completeness of any content supplied to the Company for use and displayed on #{link_to 'www.rightboat.com', root_path}, whether this information is delivered manually using the unique Broker Member log-in access to the Broker Area or via a third party data feed source. The Broker Member indemnifies the Company for any consequential loss resulting from false, incomplete or inaccurate information and representations. We accept no liability for third party data feed imports into #{link_to 'www.rightboat.com', root_path}
      %h4 Charges and Payment
      %p #{link_to 'www.rightboat.com', root_path} is a FREE to use website and we make NO charge for using the site or becoming a MyRightboat Customer Member. We offer all professional brokers access to our online platform on which to list their boats for sale. Broker Membership of Rightboat is required to use this facility, and we charge per lead delivered. Full Broker Member terms & conditions, charging structures and guidelines for listing boats for sale is available in the Broker Area of the website. Please login or create an account to view this.
      %h4 General
      %p These terms and conditions constitute the entire and only agreement between the parties in relation to its subject matter and replaces and extinguishes all prior or simultaneous agreements, undertakings, arrangements, understandings or statements of any nature made by the parties whether oral or written (and, if written, whether or not in draft form) with respect to such subject matter.
      %p Each party acknowledges that it is not relying on any statements, warranties or representations given or made by any of them in relation to the subject matter of this agreement, save those expressly set out in these terms and conditions and that it shall have no rights or remedies with respect to such subject matter otherwise than under this agreement (and the documents executed at the same time as it, or referred to, in it) save to the extent that they arise out of the fraud or fraudulent misrepresentation of the other party.
      %p No variation of this agreement shall be effective unless in writing and signed as a Deed by a duly authorised representative on behalf of each party. This agreement shall be binding on the parties and their respective successors in title.
      %p A failure by any party to exercise and any delay, forbearance or indulgency by any party in exercising any right, power or remedy under this agreement shall not operate as a waiver of that right, power or remedy or preclude its exercise at any subsequent time or on any subsequent occasion. No custom or practice of the parties at variance with the terms of this agreement shall constitute a waiver of the rights of any party under the agreement.
      %p The rights, powers and remedies provided in this agreement are cumulative and not exclusive of any rights, powers or remedies provided by law. Any party may release or compromise the liability of any other party or grant to such other party time or other indulgence without affecting its rights in relation to any other parties.
      %p Nothing in this agreement shall be considered to create a partnership, a relationship of principal and agent or a relationship of employer and employee between the parties.
      %p No term of this agreement shall be enforceable under the Contracts (Rights of Third Parties) Act 1999 by a person who is not a party, but this does not affect any right or remedy of a third party which exists or is available apart from other than this Act.
      %h4  Variations
      %p The Company may, from time to time, issue updated versions of these terms and conditions without notice. It is the Members responsibility to regularly review this information, which will be available on the website at all times, and make itself aware of any variation. Your continued use of #{link_to 'www.rightboat.com', root_path} after a variation has been made to these terms and conditions will be treated as your agreement to that variation.
      %h4 Warranty
      %p The information we provide on #{link_to 'www.rightboat.com', root_path} is for general interest only and does not constitute advice or any form of contract. The Broker Member warrants that the information it displays on the website is complete, accurate and up-to-date. The Company makes no warranty that this is the case.
      %h4 Mis-use of the website
      %p In using this website, the Member warrants that they will not:
      %ul.list-disc
        %li submit or infringe third-party intellectual property rights, trademarks, patents or copyright
        %li submit false, inaccurate or misleading content
        %li submit content that is unlawful, obscene, defamatory, libellous, abusive or invades the privacy of other users
        %li act in any way that violates any national or international law
        %li alter, delete, interfere with or damage any part of this website
      %h4 Liability
      %p The Company, its employees, suppliers, agents or partners is not liable to any party for any direct, indirect or consequential loss or damage, loss of profit, business revenue, goodwill or anticipated savings in excess of 100% of the total fees payable in respect of an engagement, except where it may not lawfully exclude or limit liability.
      %h4 Jurisdiction
      %p These terms and conditions are governed by English law. Any dispute relating to this website or the services available from this website will be subject to the jurisdiction of the English courts. All adverts must adhere to our strict quality control guidelines. We reserve the exclusive right to suspend or terminate any advert that fails to comply with these terms and conditions.