%p
  There were created #{@invoices.size} invoices
%table
  %tr
    %th ID
    %th Leads
    %th Broker
    %th Total
  - @invoices.each do |invoice|
    %tr
      %td= invoice.id
      %td
        - invoice.enquiries.each do |lead|
          = link_to lead.id.to_s, admin_lead_url(lead)
      %td= link_to invoice.user.name, admin_user_url(invoice.user)
      %td= invoice.total
