%p Dear #{@user_name},
%p We have pleasure in enclosing the full specification of the following boats you requested:
%p We have notified the yachts brokers of your interest, and they will be in touch soon. Their contact details are listed.

- @boats.each do |boat|
  %ul
    %li <b>Make:</b> #{boat.manufacturer}
    %li <b>Model:</b> #{boat.model}
    %li
      %b Details page:
      %a{href: sale_boat_url(manufacturer: boat.manufacturer, model: boat.model, boat: boat)}
        = sale_boat_url(manufacturer: boat.manufacturer, model: boat.model, boat: boat)
    %li <b>Ref No:</b> #{boat.ref_no}
    %li <b>Broker source ID:</b> #{boat.source_id}

    %br

    %li
      %b Contact details
      %ul
        - office = boat&.office
        - mail = office&.email || boat.user.email
        %li <b>Broker Name:</b> #{office&.contact_name || boat.user.name}
        %li <b>Tel:</b> #{office&.daytime_phone || boat.user.phone}
        %li <b>Email:</b> #{mail_to mail, mail}
        %li <b>Website:</b> #{office&.website || boat.user.broker_info&.website || boat.user.company_weburl}

    %hr


%p You will find a copy of these enquiries in your My Rightboat enquiry folder too.
%p Thank you for using Rightboat, we hope to see you back very soon.

%br
%p
  Kind regards
  %br
  The #{link_to 'Rightboat', root_url} Team
