- boat_url = boat_url(@boat.slug)

%p Dear #{@enquiry.name},
%p Your enquiry status changed.
%p Boat details:
%ul
  %li <b>Make:</b> #{@boat.manufacturer}
  %li <b>Model:</b> #{@boat.model}
  %li <b>Details page:</b> <a href="#{boat_url}">#{boat_url}</a>
  %li <b>RB Ref:</b> #{@boat.ref_no}

%p Current status: <b>#{@enquiry.status}</b>, #{@enquiry.updated_at.strftime('%d %b %Y')}
%p #{link_to "View My Enquiries", member_enquiries_url}

%br
%br
%p
  Kind regards
  %br
  The #{link_to 'Rightboat', root_url} Team
