Dear #{@broker.broker_name}
We are pleased to inform you that you have an enquiry from Rightboat.

Make: #{@boat.manufacturer}
Model: #{@boat.model}
Details page: #{sale_boat_url(manufacturer: @boat.manufacturer, model: @boat.model, boat: @boat)}
Pop yachts boat ID: #{@boat.source_id}
Customer Name: #{@enquiry.name}
Customer Email: #{@enquiry.email}
- unless @enquiry.phone.blank?
 Customer Tel: #{@enquiry.country_code} #{@enquiry.phone}
- unless @enquiry.message.blank?
 Customer message: #{@enquiry.message}
RB Id: #{@boat.ref_no}

#{@enquiry.created_at.strftime('%d %b %Y')}

#{lead_url(@enquiry)}
If you would like to contact the customer directly, please send email to #{@enquiry.email}.

Kind regards
The Rightboat Team
