- boat_url = boat_url(@boat.slug)

%p Dear
%p We are pleased to inform you that you have an enquiry from #{link_to 'Rightboat', root_url}.

%p The client details are as follows:
%ul
  %li <b>Name:</b> #{@enquiry.title} #{@enquiry.name}

%p Boat details:
%ul
  %li <b>Make:</b> #{@boat.manufacturer}
  %li <b>Model:</b> #{@boat.model}
  %li <b>Details page:</b> <a href="#{boat_url}">#{boat_url}</a>
  %li <b>RB Ref:</b> #{@boat.ref_no}
  %li <b>Broker source ID:</b> #{@boat.source_id}

%p #{@enquiry.created_at.strftime('%d %b %Y')}

%p Please login to your #{link_to 'broker account', lead_url(@enquiry)} to view the full customer details

%br
%p
  Kind regards
  %br
  The #{link_to 'Rightboat', root_url} Team
