- if @lead
  - boat_url = boat_url(@boat.slug)

  %p Suspicious lead:
  %ul
    %li <b>Name:</b> #{@lead.title} #{@lead.name}
    %li <b>Customer Email:</b> #{@lead.email}
    - if @lead.phone.present?
      %li <b>Customer Tel:</b> #{@lead.country_code} #{@lead.phone}
    %li <b>Customer message:</b> #{@lead.message}

  %p Boat details:
  %ul
    %li <b>Make:</b> #{@boat.manufacturer}
    %li <b>Model:</b> #{@boat.model}
    %li <b>Details page:</b> <a href="#{boat_url}">#{boat_url}</a>
    %li <b>RB Ref:</b> #{@boat.ref_no}
    %li <b>Broker source ID:</b> #{@boat.source_id}

  %p #{@lead.created_at.strftime('%d %b %Y')}

  %br
  %p
    Kind regards
    %br
    The #{link_to 'Rightboat', root_url} Team
