- if boat = Boat.unscoped.where(id: enquiry.boat_id).first
  = render layout: 'boats/boat', locals: {boat: boat, disable_social_links: true} do
    .boat-links
      = favourite_link_to boat, 'Favourite'
      /= render 'shared/social_share', boat: boat
      .text-nowrap.pull-right
        = link_to manufacturer_model_boat_path(boat.slug, manufacturer_id: boat.manufacturer.slug, model_id: boat.model.slug, format: :pdf), class: 'pdf-link', target: :blank do
          %i
        = link_to 'Search Similar', '#', class: 'btn-flat search-similar'
        = link_to 'Enquire Again', '#', class: 'btn-flat request-details'
      .clearfix
