- content_for :header_text do
  .navbar-h My <strong>Rightboat</strong>

.member-content
  %h1 My Details
  %hr
  - if user_signed_in?
    = form_for current_user, url: user_profile_path, method: :put, html: { class: 'profile-form' } do |f|
      .row
        .col-sm-6.col-xs-12
          .form-group
            = f.label :title, 'Title:*'
            %br
            = f.select :title, options_for_select(User::TITLES, current_user.title), {}, class: 'select-sm cool-select'
          .form-group.row
            .col-sm-6.col-xs-12
              = f.label :first_name, 'First Name:*'
              = f.text_field :first_name, class: 'form-control', 'data-validetta' => 'required'
            .col-sm-6.col-xs-12
              = f.label :last_name, 'Surname:*'
              = f.text_field :last_name, class: 'form-control', 'data-validetta' => 'required'
          .form-group
            = f.label :email, 'Email:*'
            = f.email_field :email, class: 'form-control', 'data-validetta' => 'required,email'
          .form-group
            = f.label :phone, 'Tel/Mobile:'
            = f.text_field :phone, class: 'form-control'
          .form-group
            %h3
              Change password
              %br
              %small
                %i (Leave blank if you don't want to change)
          .form-group
            = f.label :current_password, 'Current Password:'
            = f.password_field :current_password, class: 'form-control'
          .form-group
            = f.label :password, 'Password:'
            = f.password_field :password, class: 'form-control'
          .form-group
            = f.label :password_confirmation, 'Password Confirmation:'
            = f.password_field :password_confirmation, class: 'form-control'
      .row
        .col-sm-12.col-xs-12.form-actions
          = button_tag 'Save Changes', type: 'submit', class: 'btn-flat btn-block'
  - else
    .alert.alert-info(role="alert")
      You need to #{link_to 'sign in', '#', class: 'user-login'} to continue.
