- content_for :header_text do
  %h1 My <strong>Rightboat</strong>

.member-content
  %h1 My Information
  %hr
  - if user_signed_in?
    = form_for current_user, url: user_profile_path, method: :put, html: { class: 'profile-form' } do |f|
      .member-ref-links
        %strong More Info:
        = f.fields_for :information do |i|
          .form-group
            = i.check_box :require_finance, include_hidden: false, 'data-validetta' => false
            = i.label :require_finance, 'I require finance'
          .form-group
            = i.check_box :list_boat_for_sale, include_hidden: false, 'data-validetta' => false
            = i.label :list_boat_for_sale, 'Would you like to list your boat for sale?'
          .form-group
            = i.check_box :buy_this_season, include_hidden: false, 'data-validetta' => false
            = i.label :buy_this_season, 'I am looking to buy this season'
          .form-group
            = i.check_box :looking_for_berth, include_hidden: false, 'data-validetta' => false
            = i.label :looking_for_berth, 'I am looking for a berth'

      .form-actions
        = button_tag "Save Changes", type: 'submit', class: 'btn-flat btn-full'
  - else
    .alert.alert-info(role="alert")
      You need to #{link_to 'sign in', '#', class: 'user-login'} to continue.
