#main-content.container
  .col-md-3.col-xs-12
    = render 'sidebar'
  .col-md-9.col-xs-12
    .buyer-guide
      .title
        %h1= @guide.title
      .guide-author
        - if @guide.author
          By #{@guide.author.name}
      %br
      .main-guide-photo
        = image_tag @guide.photo_url, alt: @guide.title
      .buyer-guide-content
        = @guide.body.html_safe
        %hr
        %p The Boat Buyers Guides have been written as a aid for people who are looking at buying a second-hand boat.  The information held in these articles has been sourced from the internet, boat engineers who have worked on pre-owned models, and owners/previous owners of these boats. We at Rightboat.com are not expressing our opinion within these articles, we have simply gathered the information and written a helpful guide.
