- ind = defined?(i) ? i : '{{I}}'
%tr.office-item
  %td
    - if defined?(office)
      %input(type="hidden" name="user[offices_attributes][#{i}][id]" value="#{office.id}")
    %input(type="hidden" name="user[offices_attributes][#{ind}][name]" value="#{office.name if defined?(office)}")
    %input(type="hidden" name="user[offices_attributes][#{ind}][contact_name]" value="#{office.contact_name if defined?(office)}")
    %input(type="hidden" name="user[offices_attributes][#{ind}][daytime_phone]" value="#{office.daytime_phone if defined?(office)}")
    %input(type="hidden" name="user[offices_attributes][#{ind}][evening_phone]" value="#{office.evening_phone if defined?(office)}")
    %input(type="hidden" name="user[offices_attributes][#{ind}][mobile]" value="#{office.mobile if defined?(office)}")
    %input(type="hidden" name="user[offices_attributes][#{ind}][fax]" value="#{office.fax if defined?(office)}")
    %input(type="hidden" name="user[offices_attributes][#{ind}][email]" value="#{office.email if defined?(office)}")
    %input(type="hidden" name="user[offices_attributes][#{ind}][website]" value="#{office.website if defined?(office)}")
    .office-name= office.name if defined?(office)
  %td.office-email= office.email if defined?(office)
  %td.office-address= office.address if defined?(office)
  %td.office-dphone= office.daytime_phone if defined?(office)
  %td
    %button.edt-office-btn(type="button") edit
    %button.del-office-btn(type="button") del
