- content_for :head_scripts do
  = javascript_include_tag 'https://www.youtube.com/iframe_api'

= render layout: 'broker_area/common/broker_layout', locals: {tab: :getting_started, sidebar: nil} do
  %h1 Getting Started

  .video-wrapper
    #player
    .video-poster
  %br

  %ol
    %li Visit #{link_to 'My Account', details_broker_area_path} and complete your Company and Office details.
    %li Set up your #{link_to 'Payment Details', '#', data: { toggle: 'popover', title: 'Payment Details', placement: 'top', content: 'To register your payment details please call the Rightboat office on +44 (0) 333 322 2628. <br/>Many thanks.' } }.
    %li Call your Account Manager on +44 (0) 333 322 2628 with any questions.

  %p
    Great to welcome you on board.
    <br>The RIghtboat Team.

  %p
    = link_to 'Charges', charges_broker_area_path
    &nbsp; &nbsp;
    = link_to 'Link to the Terms and Conditions', tc_broker_area_path
