= render layout: 'broker_layout', locals: {tab: :leads, sidebar: render('leads_sidebar')} do
  %h1 My Leads

  %h2 Pending Leads
  %table.rb-table
    %tr
      %th LeadID
      %th User
      %th Boat
      %th Created
      %th Status
      %th Actions
    - @pending_leads.each do |lead|
      %tr
        %td #{lead.id}
        %td #{lead.name}
        - boat = lead.boat
        %td #{link_to "#{boat.manufacturer.name} #{boat.model.name} #{boat.name}".strip, boat_path(boat.slug)}
        %td #{distance_of_time_in_words(lead.created_at, Time.current)} ago
        %td #{lead_status_label lead.status}
        %td #{link_to 'Details', lead_path(lead)}
  = paginate @pending_leads

  %h2 History
  %table.rb-table
    %tr
      %th LeadID
      %th User
      %th Boat
      %th Created
      %th Status
      %th Actions
    - @history_leads.each do |lead|
      %tr
        %td #{lead.id}
        %td #{lead.name}
        - boat = lead.boat
        %td #{boat.manufacturer.name} #{boat.model.name} #{boat.name}
        %td #{distance_of_time_in_words(lead.created_at, Time.current)} ago
        %td #{lead_status_label lead.status}
        %td #{link_to 'Details', lead_path(lead)}
  = paginate @history_leads, param_name: :page2
