= render layout: 'broker_layout', locals: {tab: :leads, sidebar: nil} do
  %h1 My Leads

  %h2 Pending Leads
  %table.rb-table
    %tr
      %th LeadID
      %th User
      %th Boat
      %th Created
      %th
        %abbr(title="First time accessed by the Broker") Accessed
      %th Actions
    - @pending_leads.each do |lead|
      %tr
        %td #{lead.id}
        %td #{lead.name}
        - boat = lead.boat
        %td #{link_to boat.manufacturer_model, boat_path(boat.slug)}
        %td #{distance_of_time_in_words(lead.created_at, Time.current)} ago
        %td= "#{distance_of_time_in_words(lead.broker_accessed_at, Time.current)} ago" if lead.broker_accessed_at
        %td
          = link_to 'Details', lead_path(lead)
  = paginate @pending_leads

  %h2 History
  %table.rb-table
    %tr
      %th LeadID
      %th User
      %th Boat
      %th Created
      %th
        %abbr(title="First time accessed by the Broker") Accessed
      %th Actions
    - @history_leads.each do |lead|
      %tr
        %td #{lead.id}
        %td #{lead.name}
        - boat = lead.boat
        %td #{boat.manufacturer.name} #{boat.model.name} #{boat.name}
        %td #{distance_of_time_in_words(lead.created_at, Time.current)} ago
        %td= "#{distance_of_time_in_words(lead.broker_accessed_at, Time.current)} ago" if lead.broker_accessed_at
        %td #{link_to 'Details', lead_path(lead)}
  = paginate @history_leads, param_name: :page2
