#register_broker_popup.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close(aria-label="Close" data-dismiss="modal" type="button")
          %span(aria-hidden="true") &times;
      .modal-body
        .row
          %h3 Register as Broker
          %hr
          %p To register as a Broker and be able to list boats for sale on Rightboat, you must be a professional yacht broker.

          = form_tag register_broker_path, class: 'register-form', remote: true, data: {type: :json} do
            .row
              .col-sm-12
                %p
                  Please confirm:<br>
                  %input(type="checkbox" name="agree" id="agree")
                  %label(for="agree")
                    I am a professional boat broker and wish to register for FREE as a lifetime member of Rightboat.com.
                    and I acknowledge that by registering and using Rightboat.com, I agree to be bound by the
                    #{link_to 'Rightboat.com terms and conditions', toc_path}
            .row
              .col-sm-6.col-xs-12
                .form-group
                  .rb-control-group
                    .rb-control-group-addon
                      = label_tag :title, 'Title:'
                      %br
                      = text_field_tag :title, nil, class: 'select-white select-sm select-title', data: {titles: User::TITLES.join(',')}
                    .rb-control
                      = label_tag :title, 'First Name:*'
                      = text_field_tag :first_name, nil, class: 'form-control', 'data-validetta' => 'required'
              .col-sm-6.col-xs-12
                .form-group
                  = label_tag :last_name, 'Last name:*'
                  = text_field_tag :last_name, nil, class: 'form-control', 'data-validetta' => 'required'
            .row
              .col-sm-6.col-xs-12
                .form-group
                  = label_tag :email, 'Email*'
                  = email_field_tag :email, '', class: 'form-control', 'data-validetta' => 'required,email'
              .col-sm-6.col-xs-12
                .form-group
                  = label_tag :phone, 'Phone*'
                  = phone_field_tag :phone, '', class: 'form-control', 'data-validetta' => 'required'
            .form-group
              = label_tag :password, 'Company Name:*'
              = text_field_tag :company_name, '', class: 'form-control', 'data-validetta' => 'required'
            .form-group
              = label_tag :password, 'Password:*'
              = password_field_tag :password, '', class: 'form-control', 'data-validetta' => 'required'
            .form-group
              = label_tag :password_confirmation, 'Repeat Password:*'
              = password_field_tag :password_confirmation, '', class: 'form-control', 'data-validetta' => 'required'
            .row
              .col-sm-12
                %p
                  FREE membership is the first step to listing your boats on Rightboat.com.
                  We do not charge for listing boats, only for leads supplied.
                  Register now for FREE membership and to find out more.
            .form-group
              %button.btn-flat(type="submit") Create Account
              %span.or Or
              %a(href="#" aria-label="Close" data-dismiss="modal") Cancel
          %p
            Do you have an account already?
            = link_to 'Login', '#', class: 'user-login'
