.member-content(data-layout-mode="list")
  %h1 My Favourites
  %hr
  - if @favourites.blank?
    .alert.alert-warning
      No favourite boats have been added yet. To add a boat to your favourites is simple - just click the star icon on your chosen boat.
  - else
    %p Seen a boat you like? Favourites allow you to save them so that you can find them quickly again.
    #favourites.row
      - @favourites.each do |favourite|
        - if boat = favourite.boat
          = render layout: 'member/shared/boat', locals: {boat: boat} do
            .boat-links.boat-links-bottom
              .boat-price
                %span(data-attr-name='price')= boat_price(boat)
                %span.tax-status.small= boat.tax_paid? ? 'Tax paid' : ''
              = link_to 'Request Details', '#', class: 'btn-flat pull-right btn-black request-details'

  .top-tip
    *Top Tip: Make sure you're the first to know if anything changes with your favourite boats by setting your #{link_to 'alerts', member_user_alert_path}.
