.row
  .col-xs-12
    %h1.pull-left My Recent Views
    - if @viewed_boats
      %ul.nav.navbar-nav.navbar-right.display-options.pull-right
        %li
          .navbar-text
            = select_tag :sort, layout_mode_options, id: 'layout_mode', class: 'notranslate', translate: 'no'

    .clearfix
    %hr
.row
  .col-xs-12
    - if @viewed_boats.length > 0
      #boats-list.row(data-layout-mode="#{current_layout_mode}")
        = render partial: 'boats/boat', collection: @viewed_boats, locals: {multiselectable: true}
        .clearfix
        .pull-right
          = paginate @viewed_boats
    - else
      %p.lead.text-center No boats history.

= render 'shared/lead_popup_batch'
