- @page_title = "Boats for sale in #{@country.name}"
- @page_description = @page_title
- @canonical_url = country_url(@country.slug)

- content_for :meta_tags do
  %meta(name="robots" content="index, follow")

= render layout: 'shared/boats_for_sale' do
  %ul.breadcrumbs
    %li= link_to 'Home', root_path
    %li= link_to 'Boats for sale', boats_path
    %li= @country.name

  %h1= @page_title
  .row(data-layout-mode="#{current_layout_mode}")
    - @boats.each do |b|
      = render partial: 'boats/boat', locals: {boat: b, multiselectable: true}
    = paginate @boats

= render 'shared/lead_popup_batch'
