- @page_title = "Boats for sale in #{@country.name}"
- @page_description = @page_title
- @canonical_url = country_url(@country.slug)

- content_for :meta_tags do
  %meta(name="robots" content="index, follow")

= render layout: 'shared/boats_for_sale' do
  %h1 Boats in #{@country.name}
  .row(data-layout-mode="#{current_layout_mode}")
    - @boats.each do |b|
      = render layout: 'boats/boat', locals: {boat: b} do
        -#
    = paginate @boats