- @page_title = "Boats for sale in #{@country.name}"

- content_for :meta_tags do
  %meta(name="title" content=@page_title)
  %meta(property="og:title" content=@page_title)
  %meta(name="robots" content="index, follow")
  %meta(property="og:url" content="#{country_url(@country.slug)}")
  %link(rel="canonical" href="#{country_url(@country.slug)}")

= render layout: 'shared/boats_for_sale' do
  %h1 Boats in #{@country.name}
  .row(data-layout-mode="#{current_layout_mode}")
    - @boats.each do |b|
      = render layout: 'boats/boat', locals: {boat: b} do
        -#
    = paginate @boats