- back ||= false
- boat_url = "#{makemodel_boat_path(boat)}?back=#{back}"

.boat-thumb-container.col-md-4.col-sm-6.col-xs-12
  .boat-thumb.thumbnail.boat-view{'data-boat-ref' => boat.slug,
                                  'data-length' => boat.length_m.to_f,
                                  'data-price' => boat.poa? ? nil : Currency.convert(boat.price, boat.currency, Currency.default)}
    .boat-img-thumb{class: boat.offer_status.dasherize}
      = link_to boat_url do
        - if boat.primary_image
          = image_tag boat.primary_image.file.url(:thumb), alt: boat_title(boat)
        - else
          .no-image
    .caption{href: boat_url}
      %h4.text-uppercase= boat.manufacturer
      %h5= boat.model
      .boat-detail-item.boat-price.pull-right.text-right
        %span(data-attr-name='price')= boat_price(boat)
        %span.tax-status.small= boat.tax_paid? ? 'Tax paid' : ''
      .boat-detail-item.boat-length
        %span Length:
        %span(data-attr-name='loa')= boat_length(boat)
      .boat-detail-item.boat-year
        %span Year: #{boat.year_built}
      .boat-location
        %span Location: #{boat.country.to_s}
      .boat-links.boat-links-bottom
        = favourite_link_to boat
        = render 'shared/social_share', boat: boat
        = link_to 'View Boat Details', boat_url, class: 'btn-flat pull-right btn-black'
      = yield if block_given?
      .clearfix