#manufacturer_view
  .row
    .col-xs-12
      %h1= @page_title

      - if @model_filter_tags || @country_filter_tags
        .filter-tags
          - if @model_filter_tags
            - @model_filter_tags.each do |model_id, model_name|
              .filter-tag(data-filter-slug="models" data-id="model_#{model_id}") #{model_name} <span class="esc">×</span>
          - if @country_filter_tags
            - @country_filter_tags.each do |country_id, country_name|
              .filter-tag(data-filter-slug="countries" data-id="country_#{country_id}") #{country_name} <span class="esc">×</span>
          .clear-filters-btn
            Clear filters

      .filter-tabs
        %ul.filter-tabs-nav
          %li.active
            %a(href="#model_filters") Models
          %li
            %a(href="#location_filters") Locations
        .filter-tabs-content.search-boat-filters.collapsed
          .overlay

          #model_filters.filter-tab-content.filters-box.array-filter-box(data-filter-slug="models")
            %ul.flex-six-columns
              - @filters_data[:model_infos].each do |model_id, model_slug, model_name|
                %li.checkbox-container
                  - model_checkbox_id = "model_#{model_id}"
                  %input.filter-checkbox(type="checkbox" id="#{model_checkbox_id}"
                                         data-id="#{model_id}"){checked: (true if @model_ids&.include?(model_id.to_s))}
                  %label(for="#{model_checkbox_id}")
                    %span.filter-item
                      #{link_to model_name, sale_model_path(manufacturer: @manufacturer.slug, model: model_slug)}
                      - cnt = @model_counts[model_id] || 0
                      - if cnt > 0
                        %small (#{cnt})
            %button.apply-filter-btn Apply Filter

          #location_filters.filter-tab-content.filters-box.array-filter-box.hidden(data-filter-slug="countries")
            %ul.flex-six-columns
              - @filters_data[:country_infos].each do |country_id, country_slug, country_name|
                %li.checkbox-container
                  - country_checkbox_id = "country_#{country_id}"
                  %input.filter-checkbox(type="checkbox" id="#{country_checkbox_id}"
                                         data-id="#{country_id}"){checked: (true if @country_ids&.include?(country_id.to_s))}
                  %label(for="#{country_checkbox_id}")
                    %span.filter-item
                      #{link_to country_name, sale_manufacturer_path(manufacturer: @manufacturer.slug, country: country_slug)}
                      - cnt = @country_counts[country_id] || 0
                      - if cnt > 0
                        %small (#{cnt})
            %button.apply-filter-btn Apply Filter

        %a.toggle-collapse(href="#" data-expand-text="↓ Expand Filters" data-collapse-text="↑ Collapse Filters")

  = render partial: 'boats_view', locals: {boats: @boats, paginate_options: {params: params}}
