- back ||= false

.boat-vertical-thumb.col-sm-4.col-xs-12.text-center.boat-view{'data-boat-ref' => boat.slug,
                                                              'data-length' => boat.length_m.to_f,
                                                              'data-price' => boat.poa? ? nil : Currency.convert(boat.price, boat.currency, Currency.default)}
  = link_to boat_path(boat.slug, back: back) do
    .boat-img-thumb
      - if boat.primary_image
        = image_tag boat.primary_image.file.url(:thumb), alt: boat_title(boat)
      - else
        .no-image
    .caption
      %h4= boat.manufacturer
      %h5= boat.model
      %p.price(data-attr-name='price')= boat_price(boat)
      %p.boat-length
        %span(data-attr-name='loa')= boat_length(boat)
      %p #{boat.year_built}
      %p #{boat.country.to_s}
