- back ||= false

.boat-vertical-thumb.col-sm-4.col-xs-12.text-center{'data-boat-ref' => boat.slug, 'data-length' => boat.length_m.to_f, 'data-price' => boat.poa? ? nil : Currency.convert(boat.price, boat.currency, Currency.default)}
  = link_to boat_path(boat.slug) do
    .boat-img-thumb
      = image_tag boat.primary_image.file.url(:thumb)
    .caption
      %h4
        %strong= boat.manufacturer
        = boat.model
      %p.price(data-attr-name='price')= boat_price(boat)
      %p.boat-length
        %span(data-attr-name='loa')= boat_length(boat)
      %p #{boat.year_built}
      %p #{boat.full_location}
