- content_for :header_text do
  %h1 Boats <strong>For Sale</strong>

= render 'shared/search_bar'

#main-content.container
  = render 'shared/boats_for_sale_tabs'
  .letter-index
    - ('a'..'z').each do |letter|
      %a(href="#{manufacturers_by_letter_path(letter)}")= letter.upcase
  - cache 'top_manufacturers', expires_in: 1.hour do
    %h1 Top Manufacturers
    %ol
      - @manufacturers.each do |m|
        %li #{link_to m.name, manufacturer_boats_explicit_path(m.slug)} (#{m.boats_count})
