- @page_title = "Manufacturers by letter #{@letter.upcase} on Rightboat.com"
- @canonical_url = manufacturers_by_letter_url(@letter)

= render layout: 'shared/boats_for_sale' do
  .row
    .col-xs-12
      %ul.breadcrumbs
        %li= link_to 'Home', root_path
        %li= link_to 'Boats for sale', boats_path
        %li= @letter.upcase

      %h1 Manufacturers by letter #{@letter.upcase}
      = render 'shared/manufacturer_letters'

      %ul.flex-four-columns.big-vert-margins
        - @manufacturers.each do |m|
          %li #{link_to m.name, sale_manufacturer_path(m)} <small>(#{m.boats_count})</small>
