- @page_title = "#{@model.name} boats for sale"
- @page_description = @page_title
- @canonical_url = model_url(@model.slug)

- content_for :meta_tags do
  %meta(name="robots" content="index, follow")

= render layout: 'shared/boats_for_sale' do
  .row
    .col-xs-12
      <small>Back to #{link_to @manufacturer.name, make_path(@manufacturer)}</small>
      %h1 #{@manufacturer.name} #{@model.name} boats
  .row(data-layout-mode="#{current_layout_mode}")
    - @boats.each do |b|
      = render layout: 'boats/boat', locals: {boat: b} do
        -#
    .col-xs-12
      = paginate @boats
