- if @back_url
  %nav.navbar.navbar-default.nabvar-tools
    .container
      %ul.nav.navbar-nav
        %li
          = link_to "< Back to Results", @back_url

%div(data-boat-ref="#{@boat.slug}")
  .container
    %h1.pull-left
      %strong.text-nowrap= @boat.manufacturer
      %span.text-nowrap
        = @boat.model
      - unless @boat.year_built.blank?
        %span.text-nowrap (#{@boat.year_built})

    = link_to "Request Details", '#', class: 'btn-flat request-details pull-right'

  .clearfix

  #slider.flexslider
    %ul.slides
      - @boat.boat_images.each do |boat_img|
        %li= image_tag boat_img.file.url(:main)
  #carousel.flexslider
    %ul.slides
      - @boat.boat_images.each do |boat_img|
        %li= image_tag boat_img.file.url(:thumb)

  #main-content
    .container
      .boat-social-links.pull-left
        = link_to 'Share', '#', class: 'share-link'
        = favourite_link_to @boat, 'Favourite'
      .pull-right
        = link_to 'Request Details', '#', class: 'btn-flat pull-right request-details'
      .clearfix

      .row.boat-description
        .col-sm-5.col-md-7.col-xs-12.pull-right
          %h1 Details
          .row
            - @spec_attributes.each_slice(2).each do |spec_group|
              - spec_group.each do |spec_name, spec_value|
                .col-md-6.col-xs-12
                  %dl.dl-horizontal
                    %dt= spec_name
                    %dd= spec_value
          -# unless @boat.owners_comment.blank?
          -#  %h3 Owners Comment
          -#  %p.owners-commnet= @boat.owners_comment

        .col-sm-7.col-md-5.col-xs-12
          %h1 About #{@boat.to_s}
          = sanitize(@boat.description)

:javascript
  $(function() {
    $(document).ready(function() {
      // The slider being synced must be initialized first
      $('#carousel').flexslider({
        animation: "slide",
        controlNav: false,
        animationLoop: false,
        slideshow: true,
        itemWidth: 210,
        itemMargin: 5,
        asNavFor: '#slider',
        directionNav: false
      }).disableSelection();

      $('#slider').flexslider({
        animation: "slide",
        controlNav: false,
        animationLoop: false,
        slideshow: true,
        sync: "#carousel",
        nextText: '',
        prevText: ''
      }).disableSelection();
    });
  });