- if session[:boats_count] && @back_url
  - content_for :header_text do
    %h1 &nbsp;
    %h3
      Search Results:
      %strong #{session[:boats_count]}
      %span.hidden-sm boats for sale

- if @back_url
  %nav.navbar.navbar-default.nabvar-tools
    .container
      %ul.nav.navbar-nav
        %li
          = link_to "< Back to Results", @back_url

%div{'data-boat-ref' => @boat.slug, 'data-length' => @boat.length_m.to_f, 'data-price' => @boat.poa? ? nil : Currency.convert(@boat.price, @boat.currency, Currency.default)}
  .container
    %h1.pull-left
      %strong.text-nowrap= @boat.manufacturer
      %span.text-nowrap
        = @boat.model
      - unless @boat.year_built.blank?
        %span.text-nowrap (#{@boat.year_built})

    = link_to "Request Details", '#', class: 'btn-flat request-details pull-right'

  .clearfix

  #slider.slick-for
    - @boat.boat_images.each do |boat_img|
      .item
        .dummy
        = image_tag boat_img.file.url(:main)
  #carousel.slick-nav
    - @boat.boat_images.each do |boat_img|
      %nav-item= image_tag boat_img.file.url(:thumb)

  #main-content
    .container
      .boat-social-links.pull-left
        = favourite_link_to @boat, 'Favourite'
        = render 'shared/social_share', boat: @boat
      .pull-right
        = link_to 'Request Details', '#', class: 'btn-flat pull-right request-details'
      .clearfix

      .row.boat-description
        .col-sm-5.col-md-7.col-xs-12.pull-right
          %br
          .row
            - @boat.spec_attributes(self).each_slice(2).each do |spec_group|
              - spec_group.each do |spec|
                .col-md-6.col-xs-12
                  %dl.dl-horizontal
                    %dt= spec[0]
                    - if spec[2]
                      %dd{ 'data-attr-name' => spec[2] }= spec[1]
                    - else
                      %dd= spec[1]
          -# unless @boat.owners_comment.blank?
          -#  %h3 Owners Comment
          -#  %p.owners-commnet= @boat.owners_comment

        .col-sm-7.col-md-5.col-xs-12
          %h1 About this #{@boat.manufacturer} / #{@boat.model}
          .truncated-description= reduced_description(@boat.description)

:javascript
  $(function() {
    $(document).ready(function() {
      $('.slick-for').slick({
        slidesToShow: 1,
        slidesToScroll: 1,
        arrows: true,
        fade: true,
        asNavFor: '.slick-nav'
      });

      $('.slick-nav').slick({
        slidesToShow: 5,
        asNavFor: '.slick-for',
        //dots: true,
        centerMode: true,
        focusOnSelect: true
      });
    });
  });