:plain
  <a href="//www.tripexpert.com/new-york-city/hotels/crosby-street-hotel"><img src="//www.tripexpert.com/badge-v2/new-york-city/hotels/crosby-street-hotel/expert?retina=true" alt="TripExpert Badge" data-at2x="//www.tripexpert.com/badge-v2/new-york-city/hotels/crosby-street-hotel/expert?retina=true" srcset="//www.tripexpert.com/badge-v2/new-york-city/hotels/crosby-street-hotel/expert?retina=true 2x"></a>
- if @back_url
  %nav.navbar.navbar-default.nabvar-tools
    .container
      %ul.nav.navbar-nav
        %li
          = link_to "< Back to Results", @back_url

%div(data-boat-ref="#{@boat.slug}")
  .container
    %h1.pull-left
      %strong.text-nowrap= @boat.manufacturer
      %span.text-nowrap
        = @boat.model
      - unless @boat.year_built.blank?
        %span.text-nowrap (#{@boat.year_built})

    = link_to "Request Details", '#', class: 'btn-flat request-details pull-right'

  .clearfix

  #slider.flexslider
    %ul.slides
      - @boat.boat_images.each do |boat_img|
        %li= image_tag boat_img.file.url(:main)
  #carousel.flexslider
    %ul.slides
      - @boat.boat_images.each do |boat_img|
        %li= image_tag boat_img.file.url(:thumb)

  #main-content
    .container{'data-boat-ref' => @boat.slug, 'data-length' => @boat.length_m.to_f, 'data-price' => @boat.poa? ? nil : Currency.convert(@boat.price, @boat.currency, Currency.default)}
      .boat-social-links.pull-left
        = link_to 'Share', '#', class: 'share-link'
        = favourite_link_to @boat, 'Favourite'
      .pull-right
        = link_to 'Request Details', '#', class: 'btn-flat pull-right request-details'
      .clearfix

      .row.boat-description
        .col-sm-5.col-md-7.col-xs-12.pull-right
          %h1 Details
          .row
            - @boat.spec_attributes(self).each_slice(2).each do |spec_group|
              - spec_group.each do |spec|
                .col-md-6.col-xs-12
                  %dl.dl-horizontal
                    %dt= spec[0]
                    - if spec[2]
                      %dd{ 'data-attr-name' => spec[2] }= spec[1]
                    - else
                      %dd= spec[1]
          -# unless @boat.owners_comment.blank?
          -#  %h3 Owners Comment
          -#  %p.owners-commnet= @boat.owners_comment

        .col-sm-7.col-md-5.col-xs-12
          %h1 About #{@boat.to_s}
          .truncated-description= truncate_html(sanitize(@boat.description), length: 200, omission: ' ...')

:javascript
  $(function() {
    $(document).ready(function() {
      // The slider being synced must be initialized first
      $('#carousel').flexslider({
        animation: "slide",
        controlNav: false,
        animationLoop: false,
        slideshow: true,
        itemWidth: 210,
        itemMargin: 5,
        asNavFor: '#slider',
        directionNav: false
      }).disableSelection();

      $('#slider').flexslider({
        animation: "slide",
        controlNav: false,
        animationLoop: false,
        slideshow: true,
        sync: "#carousel",
        nextText: '',
        prevText: ''
      }).disableSelection();
    });
  });