%p
  Import #{link_to "#{@import.import_type} ##{@import.id}", admin_import_url(@import)} was finished with errors:
  %b= link_to 'View log', admin_import_trail_url(@import_trail)

%p
  %b Trail info:
  <br>log_path: <b>#{@import_trail.log_path}</b>
  <br>boats_count: <b>#{@import_trail.boats_count}</b>
  <br>new_count: <b>#{@import_trail.new_count}</b>
  <br>updated_count: <b>#{@import_trail.updated_count}</b>
  <br>deleted_count: <b>#{@import_trail.deleted_count}</b>
  <br>not_saved_count: <b>#{@import_trail.not_saved_count}</b>
  <br>images_count: <b>#{@import_trail.images_count}</b>
  <br>error_msg: <b>#{@import_trail.error_msg}</b>
  <br>created_at: <b>#{@import_trail.created_at}</b>
  <br>finished_at: <b>#{@import_trail.finished_at}</b>

%p
  = link_to 'Rightboat Admin', admin_root_url
