= render layout: 'shared/boats_for_sale' do
  = render 'manufacturer_letters'
  -#- cache "top_manufacturers-#{params[:page] || 1}", expires_in: 1.hour do
  %h1 All Manufacturers
  %ul
    - @manufacturers.each do |m|
      %li #{link_to m.name, manufacturer_path(m)} (#{m.boats_count})
  = paginate @manufacturers