= render layout: 'shared/boats_for_sale' do
  = render 'manufacturer_letters'
  %h1 All Manufacturers
  - if @manufacturers.any?
    %ul.four-columns
      - cache "top-manufacturers-#{@page}", expires_in: 1.hour do
        - @manufacturers.each do |m|
          %li #{link_to m.name, manufacturer_path(m)} (#{m.boats_count})
  = paginate @manufacturers