- @page_title = 'Boats for sale by manufacturer on Rightboat.com'

= render layout: 'shared/boats_for_sale' do
  - if @top_manufacturer_infos
    .row
      .col-xs-12
        .filters-box
          %h3 Top Manufacturers
          %ul.flex-six-columns
            - cache "top-manufacturers-#{@page}", expires_in: 1.hour do
              - @top_manufacturer_infos.each do |maker_name, maker_slug, boats_count|
                %li #{link_to maker_name, manufacturer_path(maker_slug)} <small>(#{boats_count})</small>
  .row
    .col-xs-12
      %h1 All Manufacturers
      By letter: #{render 'manufacturer_letters'}

      %ul.flex-four-columns.big-vert-margins
        - @manufacturers.each do |m|
          %li #{link_to m.name, manufacturer_path(m.slug)} <small>(#{m.boats_count})</small>
      = paginate @manufacturers