- @page_title = "#{@manufacturer.name.pluralize} for sale"
- @page_description = "#{@manufacturer.name} boats for sale - If you are looking to buy a new or used #{@manufacturer.name} we have an excellent selection for you covering UK, USA, Europe, Med, Caribbean, Asia and Worldwide"
- @canonical_url = manufacturer_url(@manufacturer.slug)

- content_for :meta_tags do
  %meta(name="robots" content="index, follow")

- content_for :header do
  = render 'shared/advanced_search'
  = render 'shared/navbar'

= render layout: 'shared/boats_for_sale' do
  = render 'manufacturer_letters'
  %h1= @page_title

  .row(style="background-color: lightgray; margin-bottom: 30px;")
    %h3 Models
    %ul.four-columns
      - @model_infos.each do |model_slug, model_name, boats_count|
        %li #{link_to model_name, model_path(model_slug)} (#{boats_count})

  .row(data-layout-mode="#{current_layout_mode}")
    - @boats.each do |b|
      = render layout: 'boats/boat', locals: {boat: b} do
        -#
    = paginate @boats