- content_for :header_text do
  .navbar-h Broker Area

= render 'shared/search_bar'

#main-content.container
  .row
    .col-sm-12
      - if notice
        .alert.alert-info= notice
      - if alert
        .alert.alert-warning= alert

      %h1 Lead ##{@enquiry.id} for <strong>#{@boat.manufacturer} #{@boat.model}</strong>

  .row
    .col-sm-6.col-xs-12
      %h2 Boat info
      %ul
        %li Manufacturer</b>: <b>#{@boat.manufacturer}</b>
        %li Model: <b>#{@boat.model}</b>
        %li Boat Ref No: <b>#{@boat.ref_no}</b>
        %li Source ID: <b>#{@boat.source_id || @boat.source_url}</b>
        %li
          #{link_to 'Boat details', boat_path(@boat)}
          (#{link_to 'PDF', boat_pdf_path(@boat)})

      %h2 Requester info
      %ul
        %li Name: <b>#{@enquiry.title} #{@enquiry.first_name} #{@enquiry.surname}</b>
        %li Email: <b>#{@enquiry.email}</b>
        - if @enquiry.phone.present?
          %li Tel: <b>#{country_code} #{@enquiry.phone}</b>
        - if @enquiry.message.present?
          %li Message: <b>#{@enquiry.message}</b>

      %h2 Timing
      %ul
        %li Requested At: <b>#{l @enquiry.created_at, format: :short} (#{distance_of_time_in_words(@enquiry.created_at, Time.current)} ago)</b>
        %li Accessed at: <b>#{@enquiry.broker_accessed_at ? "#{l(@enquiry.broker_accessed_at, format: :short)} (#{distance_of_time_in_words(@enquiry.broker_accessed_at, Time.current)} ago)" : '-'}</b>
        %li Accessed by: <b>#{@enquiry.broker_accessed_at ? @enquiry.accessed_by_broker.name : '-'}</b>
        - if @enquiry.status == 'quality_check'
          %li Current status: #{lead_status_label @enquiry.status}
    .col-sm-6.col-xs-12
      = link_to boat_path(@boat) do
        - if @boat.primary_image
          = image_tag @boat.primary_image.file.url(:thumb)
        - else
          .no-image
  .row
    .col-sm-12
      %p(style="margin: 1.5em 0")
        = link_to 'View all leads', my_leads_broker_area_path

      - if @enquiry.status == 'pending' && current_user && current_user.company?
        %p.nice-buttons(style="margin-top: 1em")
          %a#request_qc_button.transparent-button(href="#") Request Quality Check
          -#= link_to 'Request Quality Check', quality_check_path(@enquiry), class: 'transparent-button', method: 'post'
          = link_to 'Approve', lead_approve_path(@enquiry), class: 'nice-button', method: 'post'

      %h2 Lead History
      %table.rb-table(style="max-width: 600px")
        %tr
          %th Event Time
          %th New Status
          %th Changed by
        - @lead_trails.each do |trail|
          %tr
            %td #{distance_of_time_in_words(trail.created_at, Time.current)} ago
            %td #{lead_status_label trail.new_status}
            %td
              - if trail.user.try(:company?)
                Broker
              - elsif trail.user.try(:admin?)
                RB Administrator
              - else
                Automatically

= render 'shared/quality_check_popup'