!!!
%html
  %head
    %title= @page_title.present? ? @page_title : 'Rightboat'
    = render 'shared/meta_tags'
    = csrf_meta_tags
    = favicon_link_tag "/favicon.png", type: 'image/png'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'https://maps.google.com/maps/api/js?sensor=false'
    - if content_for? :head_scripts
      = yield :head_scripts
    = render 'shared/hotjar_tracking'
  %body{id: "#{controller_name}-#{action_name}"}
    = yield :body_start
    = render 'shared/google_tag_manager'
    - if flash.present? && !@custom_flashes
      = render 'shared/messages'
    - if content_for? :header
      = yield :header
    - else
      = render 'shared/navbar'

    #content-wrapper
      = yield

    = render 'shared/footer'

    - if !user_signed_in?
      = render 'shared/session_popup'

    - if content_for? :body_scripts
      = yield :body_scripts

