!!! Strict
%html{xmlns: 'http://www.w3.org/1999/xhtml'}
  %head
    %meta{content: 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type'}
    %meta{content: 'width=device-width', name: 'viewport'}
    = stylesheet_link_tag 'mailer', media: 'all'

  %body
    %table.body
      %tr
        %td.center{align: 'center', valign: 'top'}
          %center
            %table.container
              %tr
                %td.center{align: 'center'}
                  %center
                    %table.header
                      %tr
                        %td= image_tag 'mail_header.png', alt: 'Find Your Rightboat', class: 'img-responsive'
                        %td.expander
                      %tr
                        %td.wrapper.text-right= link_to 'Log in', new_user_session_url
                        %td.expander
                    %table.row.main-container
                      %tr
                        %td
                          %table.row
                            %tr
                              %td.wrapper.last
                                %table.twelve.columns
                                  %tr
                                    %td.text-pad= yield
                                    %td.expander
                    %table.row.footer
                      %tr
                        %td.wrapper
                          %table.columns.twelve
                            %tr
                              %td.three
                                %ul.list-unstyled.left-text-pad
                                  %li= link_to 'About Us', root_url(anchor: 'about')
                                  %li= link_to 'Contact Us', contact_home_url
                                  %li= link_to 'Articles and Guides', buyer_guides_url
                                  %li= link_to 'News', articles_url
                              %td.three
                                %ul.list-unstyled.left-text-pad
                                  %li= link_to 'Sell my boat', sell_my_boats_home_url
                                  %li= link_to 'Berths', root_url(anchor: 'berths-popup')
                                  %li= link_to 'Finance', root_url(anchor: 'finance-popup')
                                  %li= link_to 'Insurance', root_url(anchor: 'insurance-popup')
                              %td.three
                                %ul.list-unstyled.left-text-pad
                                  %li= link_to 'Policies', privacy_policy_home_url
                                  %li= link_to 'Terms and Conditions', toc_home_url
                                  %li= mail_to 'info@rightboat.com', 'info@rightboat.com'
                                  %li= link_to 'Cookies policy', cookies_policy_home_url
                              %td.three
                                %ul.list-unstyled.left-text-pad.last
                                  %li= link_to '/Rightboat', 'https://www.facebook.com/Rightboat', class: 'social-link fb-link', rel: 'nofollow'
                                  %li= link_to '@rightboatdotcom', 'https://www.twitter.com/rightboatdotcom', class: 'social-link tw-link', rel: 'nofollow'
                                  %li= link_to '/rightboat', 'https://www.pinterest.com/rightboat', class: 'social-link pint-link', rel: 'nofollow'
                              %td.expander
                            %tr
                              %td.left-text-pad{colspan: 4} &copy;#{Date.today.year}&nbsp;&nbsp;&nbsp;Rightboat Ltd - All Rights Reserved
                              %td.expander
