!!!
%html
  %head
    %title Rightboat

    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    = csrf_meta_tags

    %link(rel="shortcut icon" href="/favicon.png" type="image/png")

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'https://maps.google.com/maps/api/js?sensor=false'
  %body(id="#{controller_name}-#{action_name}")
    - if content_for? :header
      = yield :header
    - else
      = render 'shared/advanced_search'
      = render 'shared/navbar'

    #content-wrapper
      = render 'shared/search_bar', simple_search_bar: true

      = image_tag 'member-page-bg.png', alt: '', width: '100%'

      #main-content.container(style='position: relative;')
        .sidebar-toggle.visible-xs
          %button.btn-flat.btn-sm(type="button" data-toggle="offcanvas")
            Toggle Sidebar
            %i.glyphicon.glyphicon-chevron-right
        .row
          .row-offcanvas.row-offcanvas-left
            = render 'member/shared/sidebar'

            .col-xs-12.col-sm-9.member-right
              - if notice
                .alert.alert-info= notice
              - if alert
                .alert.alert-warning= alert

              = yield

    = render 'shared/footer'

    = render 'shared/enquiry_popup'
    - if user_signed_in?
      = render 'berth_enquiries/form'
      - if !current_user.email_confirmed
        = render 'shared/confirm_email_popup'
    - else
      = render 'shared/session_popup'