!!!
%html
  %head
    %title Rightboat

    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    = csrf_meta_tags

    %link(rel="shortcut icon" href="/favicon.png" type="image/png")

    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag 'https://maps.google.com/maps/api/js?sensor=false'
    = render 'shared/hotjar_tracking'
  %body.member-area(id="#{controller_name}-#{action_name}")
    = render 'shared/google_tag_manager'
    - if @visited_activity.nil?
      = render 'shared/cookies_warning'
    - if content_for? :header
      = yield :header
    - else
      = render 'home/navbar'
      = render 'shared/advanced_search'
      = render 'home/search'

    .page-gap
      .embed-responsive

    #content-wrapper
      #main-content.container(style='position: relative;')
        .sidebar-toggle.visible-xs
          %button.btn-flat.btn-sm(type="button" data-toggle="offcanvas")
            Toggle Sidebar
            %i.icon.icon-right-open
        .row
          .row-offcanvas.row-offcanvas-left
            = render 'member/shared/sidebar'

            .col-xs-12.col-md-9.member-right
              - if notice
                .alert.alert-info= notice
              - if alert
                .alert.alert-warning= alert

              = yield

    = render 'shared/footer'

    - if user_signed_in?
      = render 'berth_enquiries/form'
      = render 'insurances/form'
      = render 'finances/form'
    - else
      = render 'shared/session_popup'

    - if content_for? :body_scripts
      = yield :body_scripts